<section
  {{ mobileMenu.attrs(menu='accounts/checking') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='accounts', menuName='Accounts') }}

    {{ mobileNav.item(
      overview=true,
      text="Personal Checking Overview",
      link="/personal-checking",
      icon="Accounts_PersonalChecking_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Debit Card",
      link="/personal-checking/debit-cards",
      icon="Accounts_PersonalChecking_DebitCard.svg"
    ) }}

    {{ mobileNav.item(
      text="Checking Rewards",
      link="/personal-checking/rewards",
      icon="Accounts_PersonalChecking_CheckingRewards.svg"
    ) }}

    {{ mobileNav.item(
      text="ATMs",
      link="/atms",
      icon="Accounts_PersonalChecking_ATM.svg"
    ) }}

    {{ mobileNav.item(
      text="Direct Deposit",
      link="/personal-checking/direct-deposit",
      icon="Accounts_PersonalChecking_DirectDeposit.svg"
    ) }}

    {{ mobileNav.item(
      text="Online Banking",
      link="/online-banking",
      icon="Accounts_PersonalChecking_OnlineBanking.svg"
    ) }}

    {{ mobileNav.item(
      text="Overdraft Protection",
      link="/personal-checking/overdraft-protection",
      icon="Accounts_PersonalChecking_OverdraftProtection.svg"
    ) }}

    {{ mobileNav.item(
      text="Fraud Protection",
      link="/personal-checking/fraud-protection",
      icon="Accounts_PersonalChecking_FraudProtection.svg"
    ) }}

    {{ mobileNav.item(
      text="Interactive ATMs",
      link="/interactive-teller-machines",
      icon="Accounts_PersonalChecking_InteractiveITMs.svg"
    ) }}

  </div>
</section>
