<section
  {{ mobileMenu.attrs(menu='accounts/savings') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='accounts', menuName='Accounts') }}

    {{ mobileNav.item(
      overview=true,
      text="Savings Account Overview",
      link="/savings-accounts",
      icon="Accounts_Savings_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Savings Share",
      link="/savings-accounts/regular-share",
      icon="Accounts_Savings_SavingsShare.svg"
    ) }}

    {{ mobileNav.item(
      text="Money Market",
      link="/savings-accounts/money-market",
      icon="Accounts_Savings_MoneyMarket.svg"
    ) }}

    {{ mobileNav.item(
      text="Investments",
      link="/investments",
      icon="Accounts_Savings_Investments.svg"
    ) }}

    {{ mobileNav.item(
      text="IRAs",
      link="/savings-accounts/individual-retirement-accounts",
      icon="Accounts_Savings_IRAs.svg"
    ) }}

    {{ mobileNav.item(
      text="Term Share Certificate",
      link="/savings-accounts/term-share-certificates",
      icon="Accounts_Savings_TermShareCertificate.svg"
    ) }}

    {{ mobileNav.item(
      text="Special Purpose",
      link="/savings-accounts/special-purpose-accounts",
      icon="Accounts_Savings_SpecialPurpose.svg"
    ) }}

  </div>
</section>
