<section
  {{ mobileMenu.attrs(menu='accounts/youth') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='accounts', menuName='Accounts') }}

    {{ mobileNav.item(
      overview=true,
      text="Youth Account Overview",
      link="/youth-accounts",
      icon="Accounts_Youth_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Youth Savings Accounts",
      link="/youth-accounts/savings",
      icon="Accounts_Youth_Savings.svg"
    ) }}

    {{ mobileNav.item(
      text="Teen Checking Account",
      link="/youth-accounts/checking",
      icon="Accounts_Youth_MoneyManagerCheckingAccount.svg"
    ) }}

    {{ mobileNav.item(
      text="Savings Prizes",
      link="/youth-accounts/prizes",
      icon="Accounts_Youth_Prizes.svg"
    ) }}
    
    {{ mobileNav.item(
      text="Financial Education Programs",
      link="/youth-accounts/financial-education-tools",
      icon="Accounts_Youth_FinancialEducationPrograms.svg"
    ) }}

    {{ mobileNav.item(
      text="Teen Car Loan",
      link="/youth-accounts/teen-car-loan",
      icon="Accounts_Youth_TeenCarLoan.svg"
    ) }}

    {{ mobileNav.item(
      text="Teen Credit Card",
      link="/youth-accounts/teen-credit-card",
      icon="Accounts_Youth_TeenCreditCard.svg"
    ) }}

    {{ mobileNav.item(
      text="Scholarship Opportunities",
      link="/student-loans/scholarship-opportunities",
      icon="Accounts_Youth_ScholarshipOpportunities.svg"
    ) }}

  </div>
</section>
