<section
  {{ mobileMenu.attrs(menu='loans/vehicle/car') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans/vehicle', menuName='Vehicle Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Car Loan Options",
      link="/car-loans",
      icon="Loans_Vehicle_Car_Overview.svg"
      ) }}

    {{ mobileNav.item(
      text="New Car",
      link="/car-loans/new-car",
      icon="Loans_Vehicle_Car_New.svg"
    ) }}

    {{ mobileNav.item(
      text="Used Car",
      link="/car-loans/used-car",
      icon="Loans_Vehicle_Car_Used.svg"
    ) }}

    {{ mobileNav.item(
      text="Classic Car",
      link="/car-loans/classic-car",
      icon="Loans_Vehicle_Car_Classic.svg"
    ) }}

    {{ mobileNav.item(
      text="Car Refinancing",
      link="/car-loans/car-refinance",
      icon="Loans_Vehicle_Car_Refinancing.svg"
    ) }}

    {{ mobileNav.item(
      text="Car Repair",
      link="/car-loans/car-repair",
      icon="Loans_Vehicle_Car_Repair.svg"
    ) }}

  </div>
</section>
