<section
  {{ menu.attrs(menu='loans/vehicle/car') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans/vehicle', menuName='Vehicle Loans') }}
    {{ nav.overview(
      title='Car Loan Options',
      link="/car-loans",
      icon="Loans_Vehicle_Car_Overview.svg"
      ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="New Car",
        link="/car-loans/new-car",
        icon="Loans_Vehicle_Car_New.svg"
      ) }}

      {{ nav.item(
        text="Used Car",
        link="/car-loans/used-car",
        icon="Loans_Vehicle_Car_Used.svg"
      ) }}

      {{ nav.item(
        text="Classic Car",
        link="/car-loans/classic-car",
        icon="Loans_Vehicle_Car_Classic.svg"
      ) }}

      {{ nav.item(
        text="Car Refinancing",
        link="/car-loans/car-refinance",
        icon="Loans_Vehicle_Car_Refinancing.svg"
      ) }}

      {{ nav.item(
        text="Car Repair",
        link="/car-loans/car-repair",
        icon="Loans_Vehicle_Car_Repair.svg"
      ) }}

    </div>

  </div>

</section>
