<section
  {{ mobileMenu.attrs(menu='loans/credit-cards') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      text="Visa Platinum Cards",
      link="/credit-cards",
      icon="Loans_CreditCards_VisaPlatinumCards.svg"
    ) }}

    {{ mobileNav.item(
      text="Visa Rewards Program",
      link="https://www.curewards.com/Login",
      icon="Loans_CreditCards_VisaRewardsProgram.svg"
    ) }}

    <div class="p-8 pb-12 bg-green-lighter">
      {% include 'partials/promos/visa-rewards.njk' %}
    </div>
  </div>

</section>
