<section
  {{ mobileMenu.attrs(menu='loans/debt-consolidation') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Debt Consolidation Overview",
      link='/debt-consolidation',
      icon="Loans_DebtConsolidation_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Credit Card Debt",
      link="/debt-consolidation/credit-card-debt",
      icon="Loans_DebtConsolidation_CreditCardDebt.svg"
    ) }}

    {{ mobileNav.item(
      text="Medical Bills Debt",
      link="/debt-consolidation/medical-debt-financing",
      icon="Loans_DebtConsolidation_MedicalBillsDebt.svg"
    ) }}

  </div>
</section>
