<section
  {{ mobileMenu.attrs(menu='loans/debt-protection') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      text="Coverage Options",
      link="/planned-coverage",
      icon="Loans_DebtProtection_InsuranceOptions.svg"
    ) }}

    {{ mobileNav.item(
      text="Overdraft Lines of Credit",
      link="/personal-checking/overdraft-protection",
      icon="Loans_DebtProtection_OverdraftLinesOfCredit.svg"
    ) }}

  </div>
</section>
