<section
  {{ mobileMenu.attrs(menu='loans/home') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Home Loan Options",
      link="/home-loans/overview",
      icon="Loans_Home_Overview.svg"
    ) }}
    
    {{ mobileNav.item(
      text="Mortgage Loans",
      menu="loans/home/mortgage",
      icon="Loans_Home_Mortgage.svg"
    ) }}

    {{ mobileNav.item(
      text="Home Equity Options",
      menu="loans/home/home-equity",
      icon="Loans_Home_HomeEquity.svg"
    ) }}

    {{ mobileNav.item(
      text="Home Improvement Loan",
      link="/home-improvement-loan",
      icon="Loans_Home_HomeImprovementLoan.svg"
    ) }}

  </div>
</section>
