<section
  {{ mobileMenu.attrs(menu='loans/personal-use') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Personal Use Loan Options",
      link="/personal-use-loans",
      icon="Loans_PersonalUse_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Emergency",
      link="/personal-use-loans/emergency-expenses",
      icon="Loans_PersonalUse_Emergency.svg"
    ) }}

    {{ mobileNav.item(
      text="Wedding",
      link="/personal-use-loans/wedding-expenses",
      icon="Loans_PersonalUse_Wedding.svg"
    ) }}

    {{ mobileNav.item(
      text="New Baby",
      link="/personal-use-loans/baby-expenses",
      icon="Loans_PersonalUse_NewBaby.svg"
    ) }}

    {{ mobileNav.item(
      text="Moving",
      link="/personal-use-loans/moving-relocation",
      icon="Loans_PersonalUse_Moving.svg"
    ) }}

    {{ mobileNav.item(
      text="Pet",
      link="/personal-use-loans/pet-loan",
      icon="Loans_PersonalUse_HealthyPet.svg"
    ) }}

    {{ mobileNav.item(
      text="Travel/Vacation",
      link="/personal-use-loans/vacation-loan",
      icon="Loans_PersonalUse_TravelVacation.svg"
    ) }}

    {{ mobileNav.item(
      text="Medical",
      link="/personal-use-loans/medical-loan",
      icon="Loans_PersonalUse_Medical.svg"
    ) }}

    {{ mobileNav.item(
      text="Funeral",
      link="/personal-use-loans/funeral-costs",
      icon="Loans_PersonalUse_Funeral.svg"
    ) }}

    {{ mobileNav.item(
      text="Personal Loan",
      link="/personal-use-loans/personal-loan",
      icon="Loans_PersonalUse_PersonalLoan.svg"
    ) }}

  </div>
</section>
