<section
  {{ mobileMenu.attrs(menu='loans/recreational-use') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Recreational Use Loans Overview",
      link="/recreational-use-loans",
      icon="Loans_RecreationalUse_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Snowmobile",
      link="/recreational-use-loans/snowmobile-loan",
      icon="Loans_RecreationalUse_Snowmobile.svg"
    ) }}

    {{ mobileNav.item(
      text="Boat",
      link="/recreational-use-loans/boat-loan",
      icon="Loans_RecreationalUse_Boat.svg"
    ) }}

    {{ mobileNav.item(
      text="RV/Camper",
      link="/recreational-use-loans/rv-camper-loans",
      icon="Loans_RecreationalUse_RVCamper.svg"
    ) }}

    {{ mobileNav.item(
      text="Jet Ski",
      link="/recreational-use-loans/jet-ski-financing",
      icon="Loans_RecreationalUse_JetSki.svg"
    ) }}

    {{ mobileNav.item(
      text="ATV/UTV",
      link="/recreational-use-loans/atv-loan",
      icon="Loans_RecreationalUse_ATV.svg"
    ) }}

    {{ mobileNav.item(
      text="Recreational Loan",
      link="/recreational-use-loans/recreational-loan",
      icon="Loans_RecreationalUse_RecreationalLoan.svg"
    ) }}

    <div class="p-8 pb-12 bg-green-lighter">
      {% include 'partials/promos/snowmobile-loan.njk' %}
    </div>

  </div>
</section>
