<section
  {{ mobileMenu.attrs(menu='loans/student') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Student Loans Overview",
      link="/student-loans",
      icon="Loans_Student_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Scholarship Opportunities",
      link="/student-loans/scholarship-opportunities",
      icon="Loans_Student_ScholarshipOpportunities.svg"
    ) }}

    {{ mobileNav.item(
      text="Undergraduate",
      link="/student-loans/undergraduate-loan",
      icon="Loans_Student_Undergraduate.svg"
    ) }}

    {{ mobileNav.item(
      text="Graduate",
      link="/student-loans/graduate-program-loan",
      icon="Loans_Student_Graduate.svg"
    ) }}

  </div>
</section>
