<section
  {{ mobileMenu.attrs(menu='loans/vehicle') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans', menuName='Loans') }}

    {{ mobileNav.item(
      text="Car Loans",
      menu="loans/vehicle/car",
      icon="Loans_Vehicle_Car.svg"
    ) }}

    {{ mobileNav.item(
      text="Motorcycle Loan",
      link="/motorcycle-loan",
      icon="Loans_Vehicle_Motorcycle.svg"
    ) }}

  </div>
</section>
