<!-- Move this into sitestyle.css when we regain access to it -->
<style>
  .dropdown-menu { padding: 0 !important; }

  .mobile-menu h4 { display: block !important; } /* The rule this overrides is no longer needed in sitestyle.css */
  .mobile-menu a:focus,
  .mobile-menu a:hover,
  .mobile-menu a:active { text-decoration: none; }

  .navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: visible !important; /* Fixes iOS 13 Safari bug */
  }

  /* Alpine adds this class to the <body> */
  .disable-scroll {
    height: 100%;
    overflow: hidden;
  }
</style>

{% block content %} {% endblock %}

<script type="text/javascript">
  $(document).on('click', '.yamm .dropdown-menu', function(e) {
    e.stopPropagation()
  })
</script>
