<html class="text-base">
<head>

<!--<base href="http://www.fsource.org/" />-->

<link rel="stylesheet" href="https://staging.fsource.org/CMSPages/GetCSS.aspx?stylesheetname=Sitestyle">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdn.tailwindcss.com"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<link rel="stylesheet" href="./tailwind.css">


<style>
  .fa-angle-right::after {
    content: "\25BA";
    display: inline-block;
  }
  .fa-angle-left::after {
    content: "\25C4";
    display: inline-block;
  }
</style>

</head>
<body class="bg-green-900">

  <div class="m-4">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
