<ul class="nav navbar-nav yamm">
  <li class="dropdown yamm open mologin" id="memberonline">
    {% raw %}
    {% if(CurrentDocument.NodeAliasPath.StartsWith("/home")){ %}
    {% endraw %}
      <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><span class="visible-sm visible-md">Login <span class="fa fa-caret-down"></span></span><span class="visible-lg">MemberONLINE <span class="fa fa-caret-down"></span></span></a>
      <ul class="dropdown-menu login-form" style="width: 200px;">
        <li style="padding: 15px;">
          <div class="form-group">
            <label for="UserID">User ID:</label>
            <input class="form-control input-submit" id="UserID" name="userID" placeholder="User ID" style="width: 100%;" type="text" />
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control input-submit" id="password" name="password" placeholder="Password" style="width: 100%;" type="password" />
          </div>

          <p><a class="btn btn-yellow btn-block" href="#" id="olb-login" style="padding: 5px 15px;">Login</a></p>
          <p>
            <a class="nospeedbump" href="https://onlinebanking.fsource.org/Registration">Register</a><br />
            <a class="nospeedbump" href="https://onlinebanking.fsource.org/ForgotPassword">Forgot Password?</a><br />
            <a class="nospeedbump" href="https://onlinebanking.fsource.org/ForgotUsername">Forgot User ID?</a>
          </p>
          <img alt="" height="0" src="https://d21y75miwcfqoq.cloudfront.net/ded674ec" style="position:absolute;" width="0" />
        </li>
      </ul>
    {% raw %}
    {% } #%}
    {% endraw %}
  </li>

  <li class="dropdown yamm-fw main-accounts">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Accounts <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/accounts.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li class="dropdown yamm-fw main-loans">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Loans <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/loans.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li class="dropdown yamm-fw main-investments">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Investments <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/investments.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li class="dropdown yamm-fw main-eservices">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">e-Services <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/eservices.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li class="dropdown yamm-fw main-business">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Business <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/business.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li class="dropdown yamm-fw main-resources">
    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Resources <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <div class="yamm-content">
          {% include 'partials/desktop/resources.njk' %}
        </div>
      </li>
    </ul>
  </li>

  <li><a href="/givesback">Donations</a></li>
</ul>

<script type="text/javascript">
  {% raw %}
  $(function() {
    $('.main-{% CurrentDocument.NodeAliasPath.split("/")[1] #%}').addClass('active');
  });
  {% endraw %}
</script>

<script type="text/javascript">
  $(document).on('click', '.yamm .dropdown-menu', function(e) {
    e.stopPropagation()
  })
</script>
