<link rel="preload" as="image" href="{{ utils.iconSrc('Mobile_Logo.png') }}">
<link rel="preload" as="image" href="{{ utils.iconSrc('Eyebrow_Rates.png') }}">
<link rel="preload" as="image" href="{{ utils.iconSrc('Eyebrow_Locations.png') }}">
<link rel="preload" as="image" href="{{ utils.iconSrc('Eyebrow_ContactUs.png') }}">
<link rel="preload" as="image" href="{{ utils.iconSrc('Eyebrow_Careers.png') }}">

<script>
  window.addEventListener('DOMContentLoaded', function(){
    function stopBodyScrolling (bool) {
      if (bool === true) {
        document.body.classList.add('disable-scroll')
      } else {
        document.body.classList.remove('disable-scroll')
      }
    }

    $('#bs-example-navbar-collapse-1').on('hidden.bs.collapse', function () {
      stopBodyScrolling(false)
    })

    $('#bs-example-navbar-collapse-1').on('shown.bs.collapse', function () {
      stopBodyScrolling(true)
    })

    $.support.transition = false;

  });
</script>

<div class="fixed inset-0 h-vh z-10 bg-white">

  <div class="absolute inset-0 flex flex-col">

    <div class="bg-green-dark flex justify-between items-center p-6">
      <img
        src="{{ utils.iconSrc('Mobile_Logo.png') }}"
        class="w-2/3"
      />

      <button
        type="button"
        class="bg-transparent border-none rounded-md p-2 inline-flex items-center justify-center text-white hover:bg-green focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Close menu</span>
        <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="flex-1 bg-white overflow-y-scroll"
      style="
        overscroll-behavior: none;
        overscroll-behavior-y: none;
        -ms-scroll-chaining: none;
        -webkit-overflow-scrolling: touch;
      ">
      <div x-data="{ menu: 'overview' }" class="bg-white font-bold text-lg leading-tight">
        {% include 'partials/mobile/overview.njk' %}
        {% include 'partials/mobile/accounts.njk' %}
        {% include 'partials/mobile/loans.njk' %}
        {% include 'partials/mobile/investments.njk' %}
        {% include 'partials/mobile/eservices.njk' %}
        {% include 'partials/mobile/business.njk' %}
        {% include 'partials/mobile/resources.njk' %}
      </div>

      <!-- Spacer to prevent iOS Safari from cropping off the bottom of the menus -->
      <div class="h-36">&nbsp;</div>
    </div>

  </div>

</div>
