<section
  {{ menu.attrs(menu='accounts/checking') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='accounts', menuName='Accounts') }}
    {{ nav.overview(
      title="Personal Checking Overview",
      link="/personal-checking",
      icon="Accounts_PersonalChecking_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <p class="text-lg mb-12">An Only One Checking Account Includes:</p>

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Debit Card",
        link="/personal-checking/debit-cards",
        icon="Accounts_PersonalChecking_DebitCard.svg"
      ) }}

      {{ nav.item(
        text="Checking Rewards",
        link="/personal-checking/rewards",
        icon="Accounts_PersonalChecking_CheckingRewards.svg"
      ) }}

      {{ nav.item(
        text="ATMs",
        link="/atms",
        icon="Accounts_PersonalChecking_ATM.svg"
      ) }}

      {{ nav.item(
        text="Direct Deposit",
        link="/personal-checking/direct-deposit",
        icon="Accounts_PersonalChecking_DirectDeposit.svg"
      ) }}

      {{ nav.item(
        text="Online Banking",
        link="/online-banking",
        icon="Accounts_PersonalChecking_OnlineBanking.svg"
      ) }}

      {{ nav.item(
        text="Overdraft Protection",
        link="/personal-checking/overdraft-protection",
        icon="Accounts_PersonalChecking_OverdraftProtection.svg"
      ) }}

      {{ nav.item(
        text="Fraud Protection",
        link="/personal-checking/fraud-protection",
        icon="Accounts_PersonalChecking_FraudProtection.svg"
      ) }}

      {{ nav.item(
        text="Interactive ATMs",
        link="/interactive-teller-machines",
        icon="Accounts_PersonalChecking_InteractiveITMs.svg"
      ) }}

    </div>

  </div>

</section>
