<section
  {{ menu.attrs(menu='accounts/savings') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='accounts', menuName='Accounts') }}
    {{ nav.overview(
      title="Savings Account Overview",
      link="/savings-accounts",
      icon="Accounts_Savings_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Savings Share",
        link="/savings-accounts/regular-share",
        icon="Accounts_Savings_SavingsShare.svg"
      ) }}

      {{ nav.item(
        text="Money Market",
        link="/savings-accounts/money-market",
        icon="Accounts_Savings_MoneyMarket.svg"
      ) }}

      {{ nav.item(
        text="Investments",
        link="/investments",
        icon="Accounts_Savings_Investments.svg"
      ) }}

      {{ nav.item(
        text="IRAs",
        link="/savings-accounts/individual-retirement-accounts",
        icon="Accounts_Savings_IRAs.svg"
      ) }}

      {{ nav.item(
        text="Term Share Certificate",
        link="/savings-accounts/term-share-certificates",
        icon="Accounts_Savings_TermShareCertificate.svg"
      ) }}

      {{ nav.item(
        text="Special Purpose",
        link="/savings-accounts/special-purpose-accounts",
        icon="Accounts_Savings_SpecialPurpose.svg"
      ) }}

    </div>

  </div>

</section>
