<section
  {{ menu.attrs(menu='accounts/youth') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='accounts', menuName='Accounts') }}
    {{ nav.overview(
      title="Youth Account Overview",
      link="/youth-accounts",
      icon="Accounts_Youth_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">
  
    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Youth Savings Accounts",
        link="/youth-accounts/savings",
        icon="Accounts_Youth_Savings.svg",
        columns=3
      ) }}
      
      {{ nav.item(
        text="Teen Checking Account",
        link="/youth-accounts/checking",
        icon="Accounts_Youth_MoneyManagerCheckingAccount.svg",
        columns=3
      ) }}
      
      {{ nav.item(
        text="Savings Prizes",
        link="/youth-accounts/prizes",
        icon="Accounts_Youth_Prizes.svg",
        columns=3
      ) }}
      
      {{ nav.item(
        text="Financial Education Programs",
        link="/youth-accounts/financial-education-tools",
        icon="Accounts_Youth_FinancialEducationPrograms.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Teen Car Loan",
        link="/youth-accounts/teen-car-loan",
        icon="Accounts_Youth_TeenCarLoan.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Teen Credit Card",
        link="/youth-accounts/teen-credit-card",
        icon="Accounts_Youth_TeenCreditCard.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Scholarship Opportunities",
        link="/student-loans/scholarship-opportunities",
        icon="Accounts_Youth_ScholarshipOpportunities.svg",
        columns=3
      ) }}

    </div>
    
  </div>
  
</section>
