<section
  {{ menu.attrs(menu='business/accounts') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='business', menuName='Business') }}
    {{ nav.overview(
      title="Business Accounts",
      icon="Business_Accounts_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Business Checking",
        link="/business-checking",
        icon="Business_Accounts_Checking.svg"
      ) }}

      {{ nav.item(
        text="Business Savings",
        link="/business-savings",
        icon="Business_Accounts_Savings.svg"
      ) }}

    </div>

  </div>

</section>
