<section
  {{ menu.attrs(menu='business/loans') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='business', menuName='Business') }}
    {{ nav.overview(
      title="Business Loans Overview",
      link="/business-loans",
      icon="Business_Loans_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Real Estate",
        link="/business-loans/real-estate",
        icon="Business_Loans_RealEstate.svg"
      ) }}

      {{ nav.item(
        text="Vehicle",
        link="/business-loans/vehicle",
        icon="Business_Loans_Vehicle.svg"
      ) }}

      {{ nav.item(
        text="Equipment",
        link="/business-loans/equipment",
        icon="Business_Loans_Equipment.svg"
      ) }}

      {{ nav.item(
        text="Line of Credit",
        link="/business-loans/line-of-credit",
        icon="Business_Loans_LineOfCredit.svg"
      ) }}

      {{ nav.item(
        text="Signature Loan",
        link="/business-loans/signature",
        icon="Business_Loans_Signature.svg"
      ) }}

      {{ nav.item(
        text="Express Loan",
        link="/business-loans/express-loan",
        icon="Business_Loans_Express.svg"
      ) }}

      {{ nav.item(
        text="Credit Cards",
        link="/business-loans/credit-card",
        icon="Business_Loans_CreditCards.svg"
      ) }}

    </div>

  </div>

</section>
