<section
  {{ menu.attrs(menu='loans/credit-cards') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Credit Cards',
      icon="Loans_CreditCards_Overview.svg"
    ) }}

  </div>

  <div class="w-2/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Visa Platinum Cards",
        link="/credit-cards",
        icon="Loans_CreditCards_VisaPlatinumCards.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="Visa Rewards Program",
        link="https://www.curewards.com/Login",
        icon="Loans_CreditCards_VisaRewardsProgram.svg",
        columns=2
      ) }}

    </div>

  </div>

  <div class="w-1/4 p-12 bg-green-lighter">
    {% include 'partials/promos/visa-rewards.njk' %}
  </div>

</section>
