<section
  {{ menu.attrs(menu='loans/debt-protection') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Debt Protection',
      icon="Loans_DebtProtection_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Coverage Options",
        link="/planned-coverage",
        icon="Loans_DebtProtection_InsuranceOptions.svg"
      ) }}

      {{ nav.item(
        text="Overdraft Lines of Credit",
        link="/personal-checking/overdraft-protection",
        icon="Loans_DebtProtection_OverdraftLinesOfCredit.svg"
      ) }}

    </div>

  </div>

</section>
