<section
  {{ menu.attrs(menu='loans/debt-consolidation') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Debt Consolidation Overview',
      link='/debt-consolidation',
      icon="Loans_DebtConsolidation_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Credit Card Debt",
        link="/debt-consolidation/credit-card-debt",
        icon="Loans_DebtConsolidation_CreditCardDebt.svg"
      ) }}

      {{ nav.item(
        text="Medical Bills Debt",
        link="/debt-consolidation/medical-debt-financing",
        icon="Loans_DebtConsolidation_MedicalBillsDebt.svg"
      ) }}

    </div>

  </div>

</section>
