<section
  {{ menu.attrs(menu='loans/home') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Home Loan Options',
      link="/home-loans/overview",
      icon="Loans_Home_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Mortgage Loans",
        menu="loans/home/mortgage",
        icon="Loans_Home_Mortgage.svg"
      ) }}

      {{ nav.item(
        text="Home Equity Options",
        menu="loans/home/home-equity",
        icon="Loans_Home_HomeEquity.svg"
      ) }}

      {{ nav.item(
        text="Home Improvement Loan",
        link="/home-improvement-loan",
        icon="Loans_Home_HomeImprovementLoan.svg"
      ) }}

    </div>

  </div>

</section>
