<section
  {{ menu.attrs(menu='loans/personal-use') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Personal Use Loan Options',
      link="/personal-use-loans",
      icon="Loans_PersonalUse_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Emergency",
        link="/personal-use-loans/emergency-expenses",
        icon="Loans_PersonalUse_Emergency.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Wedding",
        link="/personal-use-loans/wedding-expenses",
        icon="Loans_PersonalUse_Wedding.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="New Baby",
        link="/personal-use-loans/baby-expenses",
        icon="Loans_PersonalUse_NewBaby.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Moving",
        link="/personal-use-loans/moving-relocation",
        icon="Loans_PersonalUse_Moving.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Pet",
        link="/personal-use-loans/pet-loan",
        icon="Loans_PersonalUse_HealthyPet.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Travel/Vacation",
        link="/personal-use-loans/vacation-loan",
        icon="Loans_PersonalUse_TravelVacation.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Medical",
        link="/personal-use-loans/medical-loan",
        icon="Loans_PersonalUse_Medical.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Funeral",
        link="/personal-use-loans/funeral-costs",
        icon="Loans_PersonalUse_Funeral.svg",
        columns=3
      ) }}

      {{ nav.item(
        text="Personal Loan",
        link="/personal-use-loans/personal-loan",
        icon="Loans_PersonalUse_PersonalLoan.svg",
        columns=3
      ) }}

    </div>

  </div>

</section>
