<section
  {{ menu.attrs(menu='loans/recreational-use') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Recreational Use Loans Overview',
      link="/recreational-use-loans",
      icon="Loans_RecreationalUse_Overview.svg"
    ) }}

  </div>

  <div class="w-2/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Snowmobile",
        link="/recreational-use-loans/snowmobile-loan",
        icon="Loans_RecreationalUse_Snowmobile.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="Boat",
        link="/recreational-use-loans/boat-loan",
        icon="Loans_RecreationalUse_Boat.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="RV/Camper",
        link="/recreational-use-loans/rv-camper-loans",
        icon="Loans_RecreationalUse_RVCamper.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="Jet Ski",
        link="/recreational-use-loans/jet-ski-financing",
        icon="Loans_RecreationalUse_JetSki.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="ATV/UTV",
        link="/recreational-use-loans/atv-loan",
        icon="Loans_RecreationalUse_ATV.svg",
        columns=2
      ) }}

      {{ nav.item(
        text="Recreational Loan",
        link="/recreational-use-loans/recreational-loan",
        icon="Loans_RecreationalUse_RecreationalLoan.svg",
        columns=2
      ) }}

    </div>

  </div>

  <div class="w-1/4 p-12 bg-green-lighter">
    {% include 'partials/promos/snowmobile-loan.njk' %}
  </div>

</section>
