<section
  {{ menu.attrs(menu='loans/student') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Student Loans Overview',
      link="/student-loans",
      icon="Loans_Student_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Scholarship Opportunities",
        link="/student-loans/scholarship-opportunities",
        icon="Loans_Student_ScholarshipOpportunities.svg"
      ) }}

      {{ nav.item(
        text="Undergraduate",
        link="/student-loans/undergraduate-loan",
        icon="Loans_Student_Undergraduate.svg"
      ) }}

      {{ nav.item(
        text="Graduate",
        link="/student-loans/graduate-program-loan",
        icon="Loans_Student_Graduate.svg"
      ) }}

    </div>

  </div>

</section>
