<section
  {{ menu.attrs(menu='loans/vehicle') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans', menuName='Loans') }}
    {{ nav.overview(
      title='Vehicle Loans',
      icon="Loans_Vehicle_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Car Loans",
        menu="loans/vehicle/car",
        icon="Loans_Vehicle_Car.svg"
      ) }}

      {{ nav.item(
        text="Motorcycle Loan",
        link="/motorcycle-loan",
        icon="Loans_Vehicle_Motorcycle.svg"
      ) }}

    </div>

  </div>

</section>
