<section
  {{ menu.attrs(menu='accounts') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="Personal Checking",
        menu="accounts/checking",
        icon="Accounts_PersonalChecking.svg"
      ) }}

      {{ nav.item(
        text="Savings Accounts",
        menu="accounts/savings",
        icon="Accounts_Savings.svg"
      ) }}

      {{ nav.item(
        text="Youth Accounts",
        menu="accounts/youth",
        icon="Accounts_Youth.svg"
      ) }}

      {{ nav.item(
        text="Become A Member",
        link="/become-a-member",
        icon="Accounts_BecomeMember.svg"
      ) }}

      {{ nav.item(
        text="Share Protection",
        link="/ncua-share-insurance",
        icon="Accounts_ShareProtection.svg"
      ) }}

    </div>
  </div>
</section>
