<section
  {{ menu.attrs(menu='business') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="Business Accounts",
        menu="business/accounts",
        icon="Business_Accounts.svg"
      ) }}

      {{ nav.item(
        text="Business Loans",
        menu="business/loans",
        icon="Business_Loans.svg"
      ) }}

      {#
      {{ nav.item(
        text="Business Online Banking",
        link="#",
        icon="Business_OnlineBanking.svg"
      ) }}
      #}

      {{ nav.item(
        text="Operational Support",
        link="/business-management",
        icon="Business_OperationalSupport.svg"
      ) }}

    </div>
  </div>
</section>
