<section
  {{ menu.attrs(menu='eservices') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="Online Banking",
        link="/online-banking",
        icon="EServices_OnlineBanking.svg"
      ) }}

      {{ nav.item(
        text="Mobile Banking App",
        link="/mobile-banking-app",
        icon="EServices_MobileBankingApp.svg"
      ) }}

      {{ nav.item(
        text="Interactive ATMs",
        link="/interactive-teller-machines",
        icon="EServices_InteractiveATMs.svg"
      ) }}

      {{ nav.item(
        text="Free Nationwide ATMs",
        link="/atms",
        icon="EServices_FreeATMs.svg"
      ) }}

      {{ nav.item(
        text="Mobile Wallet",
        link="/mobile-wallet",
        icon="EServices_MobileWallet.svg"
      ) }}

      {{ nav.item(
        text="Automated Telephone Banking",
        link="/automated-phone-banking",
        icon="EServices_AutomatedTelephoneBanking.svg"
      ) }}

      {{ nav.item(
        text="Zelle<sup>&reg;</sup>",
        link="/zelle",
        icon="EServices_ZelleLogo.svg"
      ) }}

      {{ nav.item(
        text="Payment Options",
        link="/payments",
        icon="EServices_PaymentOptions.svg"
      ) }}

    </div>
  </div>
</section>
