<section
  {{ menu.attrs(menu='investments') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="Investments",
        menu="investments/investments",
        icon="Investments_Investments.svg"
      ) }}

      {{ nav.item(
        text="Retirement Planning",
        link="/retirement-planning",
        icon="Investments_RetirementPlanning.svg"
      ) }}

    </div>
  </div>
</section>
