<section
  {{ menu.attrs(menu='loans') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="Home Loans",
        menu="loans/home",
        icon="Loans_Home.svg"
      ) }}

      {{ nav.item(
        text="Vehicle Loans",
        menu="loans/vehicle",
        icon="Loans_Vehicle.svg"
      ) }}

      {{ nav.item(
        text="Personal Use Loans",
        menu="loans/personal-use",
        icon="Loans_PersonalUse.svg"
      ) }}
      
      {{ nav.item(
        text="Recreational Use Loans",
        menu="loans/recreational-use",
        icon="Loans_RecreationalUse.svg"
      ) }}
      
      {{ nav.item(
        text="Share Secured Loan",
        link="/loans/share-secured",
        icon="Loans_ShareSecured.svg"
      ) }}

      {{ nav.item(
        text="Student Loans",
        menu="loans/student",
        icon="Loans_Student.svg"
      ) }}

      {{ nav.item(
        text="Credit Cards",
        menu="loans/credit-cards",
        icon="Loans_CreditCards.svg"
      ) }}

      {{ nav.item(
        text="Debt Protection",
        menu="loans/debt-protection",
        icon="Loans_DebtProtection.svg"
      ) }}

      {{ nav.item(
        text="Debt Consolidation",
        menu="loans/debt-consolidation",
        icon="Loans_DebtConsolidation.svg"
      ) }}

      {{ nav.item(
        link="/payments",
        text="Make a Payment",
        icon="Loans_MakePayment.svg"
      ) }}

      {{ nav.item(
        link="/loans/community-heroes",
        text="Community Heroes Consumer Loan Program",
        icon="Loans_CommunityHeroes.svg"
      ) }}
      
      {{ nav.item(
        link="/loans/holiday-loan-seasonal",
        text="Holiday Loan (Seasonal)",
        icon="Loans_HolidaySeasonal.svg"
      ) }}

    </div>
  </div>

</section>
