<section
  {{ menu.attrs(menu='resources') }}
  class="flex">

  <div class="w-full pt-10 pb-12 px-12">

    <div class="flex flex-wrap -m-4 font-bold">

      {{ nav.item(
        text="About",
        menu="resources/about",
        icon="Resources_About.svg"
      ) }}

      {{ nav.item(
        text="Additional Services",
        menu="resources/additional-services",
        icon="Resources_AdditionalServices.svg"
      ) }}

      {{ nav.item(
        text="Financial Education & Tools",
        menu="resources/financial-education-tools",
        icon="Resources_FinancialEducation.svg"
      ) }}

      {{ nav.item(
        text="Live Smarter Blog",
        link="/learn/blog",
        icon="Resources_LiveSmarterBlog.svg"
      ) }}

      {{ nav.item(
        text="Security",
        menu="resources/security",
        icon="Resources_Security.svg"
      ) }}

    </div>
  </div>
</section>
