<section
  {{ menu.attrs(menu='investments/investments') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='investments', menuName='Investments') }}
    {{ nav.overview(
      title="Investments Overview",
      link="/investments",
      icon="Investments_Investments_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Term Share Certificate",
        link="/savings-accounts/term-share-certificates",
        icon="Investments_Investments_TermShare.svg"
      ) }}

      {{ nav.item(
        text="Stock Market & Stock Funds",
        link="/investments/stock-market",
        icon="Investments_Investments_StockMarketStockFunds.svg"
      ) }}

    </div>

  </div>

</section>
