{% extends "layout-dev.njk" %}

{% import "macros/utils.njk" as utils %}
{% import "macros/menu.njk" as menu %}
{% import "macros/nav.njk" as nav %}
{% import "macros/mobile-nav.njk" as mobileNav %}
{% import "macros/mobile-menu.njk" as mobileMenu %}
{% import "macros/scripts.njk" as scripts %}

{% block content %}

  <div class="hidden-xs desktop-menu">
    {% include 'partials/desktop-menu.njk' %}
  </div>

  <div class="visible-xs-block mobile-menu">
    {% include 'partials/mobile-menu.njk' %}
  </div>

{% endblock %}
