{% import "macros/utils.njk" as utils %}

{% macro item(text, menu, link, link_attrs, icon, overview) %}

  {% if overview %}
    {% set bgColor = "bg-gold-lighter" %}
  {% else %}
    {% set bgColor = "bg-white" %}
  {% endif %}

  <div class="border-0">
    <div>
      {% if menu %}
        <a
          x-on:click="menu = '{{ menu }}'"
          x-on:keydown.enter="menu = '{{ menu }}'"
          role="link" tabindex="0"
          class="flex items-center p-6 cursor-pointer {{ bgColor }}" {{ link_attrs | safe }}>
          {% if icon %}
            <img class="w-10 mr-4 -my-2" alt="" src="{{ utils.iconSrc(icon) }}" />
          {% endif %}
          <span>{{ text | safe }}</span>
          <span class="fa fa-angle-right text-2xl ml-4"></span>
        </a>
      {% endif %}

      {% if link %}
        <a class="flex items-center p-6 cursor-pointer {{ bgColor }}" href="{{ link }}" {{ link_attrs | safe }}>
          {% if icon %}
            <img class="w-10 mr-4 -my-2" alt="" src="{{ utils.iconSrc(icon) }}" />
          {% endif %}
          {{ text | safe }}
        </a>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro back(menu, menuName) %}
  <div class="font-normal">
    <a
      x-on:click="menu = '{{ menu }}'"
      x-on:keydown.enter="menu = '{{ menu }}'"
      role="link" tabindex="0"
      class="flex items-center p-6 cursor-pointer text-green bg-green-lighter">
      <span class="fa fa-angle-left text-2xl mr-4 w-10 text-center"></span> {{ menuName }}
    </a>
  </div>
{% endmacro %}
