{% import "macros/utils.njk" as utils %}

{% macro item(text, menu, link, link_attrs, icon, columns) %}
  {% if columns %}
  {% else %}
    {% set columns = 3 %}
  {% endif %}

  <div class="w-1/{{ columns }}">
    <div class="m-4">
      <div class="flex items-center text-lg leading-tight">
        {% if icon %}
          <img class="w-10 mr-4 -my-2" alt="" src="{{ utils.iconSrc(icon) }}" />
        {% endif %}

        {% if menu %}
          <a
            x-on:click="menu = '{{ menu }}'"
            x-on:keydown.enter="menu = '{{ menu }}'"
            role="link" tabindex="0"
            class="py-4 cursor-pointer" {{ link_attrs | safe }}>
            {{ text | safe }} <span class="fa fa-angle-right"></span>
          </a>
        {% endif %}

        {% if link %}
          <a href="{{ link }}" class="py-4" {{ link_attrs | safe }}>{{ text | safe }}</a>
        {% endif %}
      </div>
      <hr />
    </div>
  </div>
{% endmacro %}

{% macro back(menu, menuName) %}
  <div class="mt-1 mb-3">
    <a
      x-on:click="menu = '{{ menu }}'"
      x-on:keydown.enter="menu = '{{ menu }}'"
      role="link" tabindex="0"
      class="cursor-pointer inline-block text-green text-base">
      <span class="fa fa-angle-left"></span> {{ menuName }}
    </a>
  </div>
{% endmacro %}

{% macro overview(title, link, icon) %}
  <div class="flex justify-center items-center text-center my-6 h-full">
    <div class="m-4">
      {% if icon %}
        <img class="w-1/2 mb-4 mx-auto" alt="" src="{{ utils.iconSrc(icon) }}" />
      {% endif %}

      <h3 class="text-2xl mt-0 mb-8">{{ title }}</h3>
      {% if link %}
        <div><a href="{{ link }}" class="btn btn-primary">Learn More</a></div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
