{% macro init_menu(menu) %}
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('{{ menu }}', (d) => ({
        menu: '{{ menu }}',
        {# This unfortunately has to be done in Javascript because Kentico incorrectly parses the @click.outside directive (it doesn't like the .) and refuses to close the HTML element that it's used on. #}
        wrapper: {
          ['@click.outside']() { this.menu = '{{ menu }}' },
        },
      }))
    })
  </script>
{% endmacro %}
