<section
  {{ mobileMenu.attrs(menu='accounts') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="Personal Checking",
      menu="accounts/checking",
      icon="Accounts_PersonalChecking.svg"
    ) }}

    {{ mobileNav.item(
      text="Savings Accounts",
      menu="accounts/savings",
      icon="Accounts_Savings.svg"
    ) }}

    {{ mobileNav.item(
      text="Youth Accounts",
      menu="accounts/youth",
      icon="Accounts_Youth.svg"
    ) }}

    {{ mobileNav.item(
      text="Become A Member",
      link="/become-a-member",
      icon="Accounts_BecomeMember.svg"
    ) }}

    {{ mobileNav.item(
      text="Share Protection",
      link="/ncua-share-insurance",
      icon="Accounts_ShareProtection.svg"
    ) }}

  </div>
</section>
