<section
  {{ mobileMenu.attrs(menu='business') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="Business Accounts",
      menu="business/accounts",
      icon="Business_Accounts.svg"
    ) }}

    {{ mobileNav.item(
      text="Business Loans",
      menu="business/loans",
      icon="Business_Loans.svg"
    ) }}

    {#
    {{ mobileNav.item(
      text="Business Online Banking",
      link="#",
      icon="Business_OnlineBanking.svg"
    ) }}
    #}

    {{ mobileNav.item(
      text="Operational Support",
      link="/business-management",
      icon="Business_OperationalSupport.svg"
    ) }}

  </div>
</section>
