<section
  {{ mobileMenu.attrs(menu='eservices') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="Online Banking",
      link="/online-banking",
      icon="EServices_OnlineBanking.svg"
    ) }}

    {{ mobileNav.item(
      text="Mobile Banking App",
      link="/mobile-banking-app",
      icon="EServices_MobileBankingApp.svg"
    ) }}

    {{ mobileNav.item(
      text="Interactive ATMs",
      link="/interactive-teller-machines",
      icon="EServices_InteractiveATMs.svg"
    ) }}

    {{ mobileNav.item(
      text="Free Nationwide ATMs",
      link="/atms",
      icon="EServices_FreeATMs.svg"
    ) }}

    {{ mobileNav.item(
      text="Mobile Wallet",
      link="/mobile-wallet",
      icon="EServices_MobileWallet.svg"
    ) }}

    {{ mobileNav.item(
      text="Automated Telephone Banking",
      link="/automated-phone-banking",
      icon="EServices_AutomatedTelephoneBanking.svg"
    ) }}

    {{ mobileNav.item(
      text="Zelle<sup>&reg;</sup>",
      link="/zelle",
      icon="EServices_ZelleLogo.svg"
    ) }}

    {{ mobileNav.item(
      text="Payment Options",
      link="/payments",
      icon="EServices_PaymentOptions.svg"
    ) }}

  </div>
</section>
