<div class="border-y border-x-0 border-solid border-green-light">
  <div class="text-base font-bold flex flex-wrap text-center bg-white divide-y divide-solid divide-green-light">
    <div class="flex border-0 divide-x divide-solid divide-green-light w-full">

      <a href="/rates" class="border-0 w-1/2 py-12 px-4 flex flex-col justify-center items-center">
        <img class="w-10" alt="" src="{{ utils.iconSrc('Eyebrow_Rates.svg') }}" />
        <div>Rates</div>
      </a>

      <a href="/locations" class="border-0 w-1/2 py-12 px-4 flex flex-col justify-center items-center">
        <img class="w-10" alt="" src="{{ utils.iconSrc('Eyebrow_Locations.svg') }}" />
        <div>Locations & ATMs</div>
      </a>

    </div>

    <div class="flex border-0 divide-x divide-solid divide-green-light w-full">

      <a href="/contact-us" class="border-0 w-1/2 py-12 px-4 flex flex-col justify-center items-center">
        <img class="w-10" alt="" src="{{ utils.iconSrc('Eyebrow_ContactUs.svg') }}" />
        <div>Contact Us</div>
      </a>

      <a href="/careers" class="border-0 w-1/2 py-12 px-4 flex flex-col justify-center items-center">
        <img class="w-10" alt="" src="{{ utils.iconSrc('Eyebrow_Careers.svg') }}" />
        <div>Careers</div>
      </a>

    </div>
  </div>
</div>
