<section
  {{ mobileMenu.attrs(menu='investments') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="Investments",
      menu="investments/investments",
      icon="Investments_Investments.svg"
    ) }}

    {{ mobileNav.item(
      text="Retirement Planning",
      link="/retirement-planning",
      icon="Investments_RetirementPlanning.svg"
    ) }}

  </div>
</section>
