<section
  {{ mobileMenu.attrs(menu='loans') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

  {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="Home Loans",
      menu="loans/home",
      icon="Loans_Home.svg"
    ) }}

    {{ mobileNav.item(
      text="Vehicle Loans",
      menu="loans/vehicle",
      icon="Loans_Vehicle.svg"
    ) }}

    {{ mobileNav.item(
      text="Personal Use Loans",
      menu="loans/personal-use",
      icon="Loans_PersonalUse.svg"
    ) }}

    {{ mobileNav.item(
      text="Recreational Use Loans",
      menu="loans/recreational-use",
      icon="Loans_RecreationalUse.svg"
    ) }}

    {{ mobileNav.item(
      text="Share Secured Loan",
      link="/loans/share-secured",
      icon="Loans_ShareSecured.svg"
    ) }}

    {{ mobileNav.item(
      text="Student Loans",
      menu="loans/student",
      icon="Loans_Student.svg"
    ) }}

    {{ mobileNav.item(
      text="Credit Cards",
      menu="loans/credit-cards",
      icon="Loans_CreditCards.svg"
    ) }}

    {{ mobileNav.item(
      text="Debt Protection",
      menu="loans/debt-protection",
      icon="Loans_DebtProtection.svg"
    ) }}

    {{ mobileNav.item(
      text="Debt Consolidation",
      menu="loans/debt-consolidation",
      icon="Loans_DebtConsolidation.svg"
    ) }}

    {{ mobileNav.item(
      text="Make a Payment",
      link="/payments",
      icon="Loans_MakePayment.svg"
    ) }}

    {{ mobileNav.item(
      text="Community Heroes Consumer Loan Program",
      link="/loans/community-heroes",
      icon="Loans_CommunityHeroes.svg"
    ) }}

    {{ mobileNav.item(
      link="/loans/holiday-loan-seasonal",
      text="Holiday Loan (Seasonal)",
      icon="Loans_HolidaySeasonal.svg"
    ) }}
    
  </div>
</section>
