<section
  {{ mobileMenu.attrs(menu='overview') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.item(
      text="Accounts",
      menu="accounts",
      _icon="Overview_Accounts.svg"
    ) }}

    {{ mobileNav.item(
      text="Loans",
      menu="loans",
      _icon="Overview_Loans.svg"
    ) }}

    {{ mobileNav.item(
      text="Investments",
      menu="investments",
      _icon="Overview_Investments.svg"
    ) }}

    {{ mobileNav.item(
      text="e-Services",
      menu="eservices",
      _icon="Overview_EServices.svg"
    ) }}

    {{ mobileNav.item(
      text="Business",
      menu="business",
      _icon="Overview_Business.svg"
    ) }}

    {{ mobileNav.item(
      text="Resources",
      menu="resources",
      _icon="Overview_Resources.svg"
    ) }}

    {{ mobileNav.item(
      text="Donations",
      link="/givesback",
      _icon="Overview_Donations.svg"
    ) }}

  </div>

  {% include 'partials/mobile/menus/eyebrow.njk' %}

  <div class="p-4">
    <div class="p-4">
      <a class="btn btn-yellow btn-block nospeedbump" href="/apply-online" target="_blank">Apply for a Loan</a>
    </div>
    <div class="p-4">
      <a class="btn btn-yellow btn-block nospeedbump" href="/make-an-appointment" target="_blank">Make an Appointment</a>
    </div>
  </div>

</section>
