<section
  {{ mobileMenu.attrs(menu='resources') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='overview', menuName='All') }}

    {{ mobileNav.item(
      text="About",
      menu="resources/about",
      icon="Resources_About.svg"
    ) }}

    {{ mobileNav.item(
      text="Additional Services",
      menu="resources/additional-services",
      icon="Resources_AdditionalServices.svg"
    ) }}

    {{ mobileNav.item(
      text="Financial Education & Tools",
      menu="resources/financial-education-tools",
      icon="Resources_FinancialEducation.svg"
    ) }}

    {{ mobileNav.item(
      text="Live Smarter Blog",
      link="/learn/blog",
      icon="Resources_LiveSmarterBlog.svg"
    ) }}

    {{ mobileNav.item(
      text="Security",
      menu="resources/security",
      icon="Resources_Security.svg"
    ) }}

  </div>
</section>
