<!-- Tier 1 -->
{% include 'partials/mobile/menus/loans.njk' %}

<!-- Tier 2 -->
{% include 'partials/mobile/menus/loans/home.njk' %}
{% include 'partials/mobile/menus/loans/vehicle.njk' %}
{% include 'partials/mobile/menus/loans/personal-use.njk' %}
{% include 'partials/mobile/menus/loans/recreational-use.njk' %}
{% include 'partials/mobile/menus/loans/student.njk' %}
{% include 'partials/mobile/menus/loans/credit-cards.njk' %}
{% include 'partials/mobile/menus/loans/debt-protection.njk' %}
{% include 'partials/mobile/menus/loans/debt-consolidation.njk' %}

<!-- Tier 3 -->
{% include 'partials/mobile/menus/loans/home/mortgage.njk' %}
{% include 'partials/mobile/menus/loans/home/home-equity.njk' %}
{% include 'partials/mobile/menus/loans/vehicle/car.njk' %}
