<section
  {{ mobileMenu.attrs(menu='resources/about') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='resources', menuName='Resources') }}

    {{ mobileNav.item(
      text="About Us",
      link="/about-us",
      icon="Resources_About_AboutUs.svg"
    ) }}

    {{ mobileNav.item(
      text="Become a Member",
      link="/become-a-member",
      icon="Resources_About_BecomeMember.svg"
    ) }}

    {{ mobileNav.item(
      text="Board of Directors",
      link="/board-of-directors",
      icon="Resources_About_BoardOfDirectors.svg"
    ) }}

    {{ mobileNav.item(
      text="Management",
      link="/management",
      icon="Resources_About_Management.svg"
    ) }}

    {{ mobileNav.item(
      text="We Are Community",
      link="/learn/blog?categoryid=17",
      icon="Resources_About_InTheCommunity.svg"
    ) }}

  </div>
</section>
