<section
  {{ mobileMenu.attrs(menu='resources/additional-services') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='resources', menuName='Resources') }}

    {{ mobileNav.item(
      text="Helpful Calculators",
      link="/helpful-calculators",
      icon="Resources_AdditionalServices_HelpfulCalculators.svg"
    ) }}

    {{ mobileNav.item(
      text="Skip Payment",
      link="/skip-payment",
      icon="Resources_AdditionalServices_SkipPayment.svg"
    ) }}

    {{ mobileNav.item(
      text="For Sale",
      link="/for-sale",
      icon="Resources_AdditionalServices_ForSale.svg"
    ) }}

    {{ mobileNav.item(
      text="Ancillary Services",
      link="/added-services",
      icon="Resources_AdditionalServices_AncillaryServices.svg"
    ) }}

  </div>
</section>
