<section
  {{ mobileMenu.attrs(menu='resources/covid') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='resources', menuName='Resources') }}

    {{ mobileNav.item(
      text="Adapting to the Coronavirus Pandemic",
      link="/covid-19"
    ) }}

    {{ mobileNav.item(
      text="Protect Yourself and Your Finances",
      link="/covid-19/fraud"
    ) }}

  </div>
</section>
