<section
  {{ mobileMenu.attrs(menu='resources/financial-education-tools') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='resources', menuName='Resources') }}

    {{ mobileNav.item(
      text="Teacher Curriculum",
      link="/classroom-financial-education",
      icon="Resources_FinancialEducation_TeacherCurriculum.svg"
    ) }}

    {{ mobileNav.item(
      text="Public Programs",
      link="/community-financial-education",
      icon="Resources_FinancialEducation_PublicPrograms.svg"
    ) }}

    {{ mobileNav.item(
      text="Seminars and Workshops",
      link="/request-presentation",
      icon="Resources_FinancialEducation_SeminarsAndWorkshops.svg"
    ) }}

    {{ mobileNav.item(
      text="Understanding Your Credit Score",
      link="/understanding-your-credit",
      icon="Resources_FinancialEducation_UnderstandingYourCreditScore.svg"
    ) }}

    {{ mobileNav.item(
      text="Balance Financial Fitness Resource Center",
      link="/budget-basics",
      icon="Resources_FinancialEducation_BalanceFinancialFitness.svg"
    ) }}

    {{ mobileNav.item(
      text="Budgeting",
      link="/budgeting",
      icon="Resources_FinancialEducation_Budgeting.svg"
    ) }}

    {{ mobileNav.item(
      text="Financial Fridays",
      link="/financial-friday",
      icon="Resources_FinancialEducation_FinancialFridays.svg"
    ) }}

  </div>
</section>
