<section
  {{ mobileMenu.attrs(menu='resources/security') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='resources', menuName='Resources') }}

    {{ mobileNav.item(
      text="Privacy Notice",
      link="/getmedia/a4250dab-cd06-43a7-9ad1-981c02b7bf29/PrivacyPolicy15276.pdf.aspx",
      icon="Resources_Security_PrivacyNotice.svg"
    ) }}

    {{ mobileNav.item(
      text="Online Privacy Policy/Security",
      link="/online-privacy-policy",
      icon="Resources_Security_OnlinePrivacyPolicy.svg"
    ) }}

    {{ mobileNav.item(
      text="Identity Protection",
      link="/identity-protection",
      icon="Resources_Security_IdentityProtection.svg"
    ) }}

    {{ mobileNav.item(
      text="Online & Mobile Banking Precautions",
      link="/online-mobile-banking-precautions",
      icon="Resources_Security_OnlineMobileBankingPrecautions.svg"
    ) }}

    {{ mobileNav.item(
      text="Beneficial Ownership",
      link="/beneficial-ownership",
      icon="Resources_Security_BeneficialOwnership.svg"
    ) }}

  </div>
</section>
