<div class="text-center">
  <h4 class="text-lg leading-snug mt-0 mb-4">Summer Smarter with a Boat Loan</h4>

  <img class="my-2 w-4/5" alt="" src="/getattachment/main-navigation/Promo_Loans_RecreationalUse_BoatLoan.jpg.aspx">

  <p class="my-4 mb-6 text-base">The water is calling. Explore your financing options.</p>

  <div><a href="/recreational-use-loans/boat-loan" class="btn btn-primary">Apply Now</a></div>
</div>
