<div class="text-center mb-4">
  <h4 class="text-xl leading-snug mb-4">Celebrate Smarter with a Holiday Loan</h4>

  <img class="my-2 w-full" alt="" src="/getattachment/main-navigation/Promo_Loans_PersonalUse_HolidayLoan.jpg.aspx">

  <p class="my-4 text-lg">Help keep your traditions going with a low-rate Holiday Loan.</p>

  <a class="btn btn-sm btn-primary" href="/holiday-loan-2023">Apply Now</a>
</div>
