<div class="text-center mb-4">
  <h4 class="text-xl leading-snug mb-4">Sled Smarter with a Snowmobile Loan</h4>

  <img class="my-2 w-full" alt="" src="/getattachment/main-navigation/Promo_Loans_RecreationalUse_SnowmobileLoan.jpg.aspx">

  <p class="my-4 text-lg">Explore your financing options for a new or used sled.</p>

  <a class="btn btn-sm btn-primary" href="/loans/recreational-use/snowmobile-loan">Apply Now</a>
</div>
