<div class="text-center">
  <h4 class="text-lg leading-snug mt-0 mb-4">Earn 3x Points</h4>

  <img
    class="my-2 w-4/5"
    alt=""
    src="/getattachment/main-navigation/Promo_Loans_CreditCards_VisaPlatinumRewards.jpg.aspx"
  />

  <p class="my-4 mb-6 text-base">
    Maximize your rewards on travel stays and dining with your VISA®
    Platinum Rewards Plus Credit Card!
  </p>

  <div>
    <a href="/loans/credit-cards/rewards" class="btn btn-primary"
      >Get the Details</a
    >
  </div>
</div>
