<div class="text-center mb-4">
  <h4 class="text-xl leading-snug mb-4">April is National Credit Union Youth Month</h4>

  <img class="my-2 w-3/4" alt="" src="/getattachment/main-navigation/Promo_Accounts_Youth_YouthMonth.jpg.aspx">

  <p class="my-4 text-lg">Kids can win a $100 VISA® Gift Card.</p>

  <a href="/youth-month-2024" class="btn btn-sm btn-primary">Learn How</a>
</div>
