<section
  {{ menu.attrs(menu='loans/home/home-equity') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans/home', menuName='Home Loans') }}
    {{ nav.overview(
      title='Home Equity Options Overview',
      link="/home-equity",
      icon="Loans_Home_HomeEquity_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Home Equity Loan",
        link="/home-equity/loan",
        icon="Loans_Home_HomeEquity_Loan.svg"
      ) }}

      {{ nav.item(
        text="Home Equity Line of Credit",
        link="/home-equity/line-of-credit",
        icon="Loans_Home_HomeEquity_LineOfCredit.svg"
      ) }}

    </div>

  </div>

</section>
