<section
  {{ menu.attrs(menu='loans/home/mortgage') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='loans/home', menuName='Home Loans') }}
    {{ nav.overview(
      title="Mortgage Overview",
      link="/mortgage-loans",
      icon="Loans_Home_Mortgage_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Conventional Loan",
        link="/mortgage-loans/conventional",
        icon="Loans_Home_Mortgage_Conventional.svg"
      ) }}

      {{ nav.item(
        text="FHA Loan",
        link="/mortgage-loans/government-FHA",
        icon="Loans_Home_Mortgage_FHALoan.svg"
      ) }}

      {{ nav.item(
        text="VA Loan",
        link="/mortgage-loans/government-va",
        icon="Loans_Home_Mortgage_VALoan.svg"
      ) }}

      {{ nav.item(
        text="Home Possible Programs",
        link="/mortgage-loans/first-time-home-buyer",
        icon="Loans_Home_Mortgage_HomePossiblePrograms.svg"
      ) }}

      {{ nav.item(
        text="100% Mortgage Financing Program",
        link="/mortgage-loans/100-percent-mortgage-financing",
        icon="Loans_Home_Mortgage_100FinancingProgram.svg"
      ) }}

      {{ nav.item(
        text="Medical Professional Mortgage Program",
        link="/mortgage-loans/medical-professional-mortgage-program",
        icon="Loans_Home_Mortgage_MedicalProfessionalProgram.svg"
      ) }}

      {{ nav.item(
        text="Mortgage Refinancing",
        link="/mortgage-loans/mortgage-refinance",
        icon="Loans_Home_Mortgage_Refinancing.svg"
      ) }}

    </div>

  </div>

</section>
