<section
  {{ mobileMenu.attrs(menu='investments/investments') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='investments', menuName='Investments') }}

    {{ mobileNav.item(
      overview=true,
      text="Investments Overview",
      link="/investments",
      icon="Investments_Investments_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Term Share Certificate",
      link="/savings-accounts/term-share-certificates",
      icon="Investments_Investments_TermShare.svg"
    ) }}

    {{ mobileNav.item(
      text="Stock Market & Stock Funds",
      link="/investments/stock-market",
      icon="Investments_Investments_StockMarketStockFunds.svg"
    ) }}

  </div>
</section>
