{% set menuName = "accounts" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/accounts.njk' %}

    <!-- Tier 2 -->
    {% include './menus/accounts/checking.njk' %}
    {% include './menus/accounts/savings.njk' %}
    {% include './menus/accounts/youth.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
