{% set menuName = "business" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/business.njk' %}

    <!-- Tier 2 -->
    {% include './menus/business/accounts.njk' %}
    {% include './menus/business/loans.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
