{% set menuName = "eservices" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/eservices.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
