{% set menuName = "investments" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/investments.njk' %}

    <!-- Tier 2 -->
    {% include './menus/investments/investments.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
