{% set menuName = "loans" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/loans.njk' %}

    <!-- Tier 2 -->
    {% include './menus/loans/home.njk' %}
    {% include './menus/loans/vehicle.njk' %}
    {% include './menus/loans/personal-use.njk' %}
    {% include './menus/loans/recreational-use.njk' %}
    {% include './menus/loans/student.njk' %}
    {% include './menus/loans/credit-cards.njk' %}
    {% include './menus/loans/debt-protection.njk' %}
    {% include './menus/loans/debt-consolidation.njk' %}

    <!-- Tier 3 -->
    {% include './menus/loans/home/mortgage.njk' %}
    {% include './menus/loans/home/home-equity.njk' %}
    {% include './menus/loans/vehicle/car.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
