{% set menuName = "resources" %}

<div x-data="{{ menuName }}()" class="bg-white">
  <div x-bind="wrapper">

    <!-- Tier 1 -->
    {% include './menus/resources.njk' %}

    <!-- Tier 2 -->
    {% include './menus/resources/about.njk' %}
    {% include './menus/resources/additional-services.njk' %}
    {% include './menus/resources/financial-education-tools.njk' %}
    {% include './menus/resources/security.njk' %}

  </div>
</div>

{{ scripts.init_menu(menuName) }}
