<section
  {{ menu.attrs(menu='resources/about') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='resources', menuName='Resources') }}
    {{ nav.overview(
      title='About',
      icon="Resources_About.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="About Us",
        link="/about-us",
        icon="Resources_About_AboutUs.svg"
      ) }}

      {{ nav.item(
        text="Become a Member",
        link="/become-a-member",
        icon="Resources_About_BecomeMember.svg"
      ) }}

      {{ nav.item(
        text="Board of Directors",
        link="/board-of-directors",
        icon="Resources_About_BoardOfDirectors.svg"
      ) }}

      {{ nav.item(
        text="Management",
        link="/management",
        icon="Resources_About_Management.svg"
      ) }}

      {{ nav.item(
        text="We Are Community",
        link="/learn/blog?categoryid=17",
        icon="Resources_About_InTheCommunity.svg"
      ) }}

    </div>

  </div>

</section>
