<section
  {{ menu.attrs(menu='resources/additional-services') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='resources', menuName='Resources') }}
    {{ nav.overview(
      title='Additional Services',
      icon="Resources_AdditionalServices.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Helpful Calculators",
        link="/helpful-calculators",
        icon="Resources_AdditionalServices_HelpfulCalculators.svg"
      ) }}

      {{ nav.item(
        text="Skip Payment",
        link="/skip-payment",
        icon="Resources_AdditionalServices_SkipPayment.svg"
      ) }}

      {{ nav.item(
        text="For Sale",
        link="/for-sale",
        icon="Resources_AdditionalServices_ForSale.svg"
      ) }}

      {{ nav.item(
        text="Ancillary Services",
        link="/added-services",
        icon="Resources_AdditionalServices_AncillaryServices.svg"
      ) }}

    </div>

  </div>

</section>
