<section
  {{ menu.attrs(menu='resources/covid') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='resources', menuName='Resources') }}
    {{ nav.overview(
      title='COVID-19',
      icon="Resources_COVID.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Adapting to the Coronavirus Pandemic",
        link="/covid-19",
        columns=2
      ) }}

      {{ nav.item(
        text="Protect Yourself and Your Finances",
        link="/covid-19/fraud",
        columns=2
      ) }}

    </div>

  </div>

</section>
