<section
  {{ menu.attrs(menu='resources/financial-education-tools') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='resources', menuName='Resources') }}
    {{ nav.overview(
      title='Financial Education and Tools',
      icon="Resources_FinancialEducation_Overview.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Teacher Curriculum",
        link="/classroom-financial-education",
        icon="Resources_FinancialEducation_TeacherCurriculum.svg"
      ) }}

      {{ nav.item(
        text="Public Programs",
        link="/community-financial-education",
        icon="Resources_FinancialEducation_PublicPrograms.svg"
      ) }}

      {{ nav.item(
        text="Seminars and Workshops",
        link="/request-presentation",
        icon="Resources_FinancialEducation_SeminarsAndWorkshops.svg"
      ) }}

      {{ nav.item(
        text="Understanding Your Credit Score",
        link="/understanding-your-credit",
        icon="Resources_FinancialEducation_UnderstandingYourCreditScore.svg"
      ) }}

      {{ nav.item(
        text="Balance Financial Fitness Resource Center",
        link="/budget-basics",
        icon="Resources_FinancialEducation_BalanceFinancialFitness.svg"
      ) }}

      {{ nav.item(
        text="Budgeting",
        link="/budgeting",
        icon="Resources_FinancialEducation_Budgeting.svg"
      ) }}

      {{ nav.item(
        text="Financial Fridays",
        link="/financial-friday",
        icon="Resources_FinancialEducation_FinancialFridays.svg"
      ) }}

    </div>

  </div>

</section>
