<section
  {{ menu.attrs(menu='resources/security') }}
  class="flex">

  <div class="w-1/4 p-8 flex flex-col bg-gold-lighter">

    {{ nav.back(menu='resources', menuName='Resources') }}
    {{ nav.overview(
      title='Security',
      icon="Resources_Security.svg"
    ) }}

  </div>

  <div class="w-3/4 pt-10 pb-12 px-12">

    <div class="flex flex-wrap items-end -m-4 font-bold">

      {{ nav.item(
        text="Privacy Notice",
        link="/getmedia/a4250dab-cd06-43a7-9ad1-981c02b7bf29/PrivacyPolicy15276.pdf.aspx",
        icon="Resources_Security_PrivacyNotice.svg"
      ) }}

      {{ nav.item(
        text="Online Privacy Policy/Security",
        link="/online-privacy-policy",
        icon="Resources_Security_OnlinePrivacyPolicy.svg"
      ) }}

      {{ nav.item(
        text="Identity Protection",
        link="/identity-protection",
        icon="Resources_Security_IdentityProtection.svg"
      ) }}

      {{ nav.item(
        text="Online & Mobile Banking Precautions",
        link="/online-mobile-banking-precautions",
        icon="Resources_Security_OnlineMobileBankingPrecautions.svg"
      ) }}

      {{ nav.item(
        text="Beneficial Ownership",
        link="/beneficial-ownership",
        icon="Resources_Security_BeneficialOwnership.svg"
      ) }}

    </div>

  </div>

</section>
