/* Import Bootstrap first */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

/* DEBUG

a[href="#"] {
background: red;
}

*/

.alert-danger {
  background: #A1120A;
  color: #fff;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid rgba(255,255,255,.5);
}

.alert-danger a {
  color: rgba(255,255,255,.8);
  text-decoration: underline;
}

.alert-danger a:hover {
  color: #fff;
}

#nav-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: left;
  background: rgba(7,53,52,.8);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*background: #033935 url("/8base/media/images/FStile.png");*/
  background: #ffffff url(/8base/media/images/FStile.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  color: #686868;
}

a,
a:link,
a:visited {
  color: #126e69;
  transition: all .5s ease-in-out;
}

a:hover {
  color: #064f4c;
}

.btn {
  position: relative;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  border-radius: 2px;
}

.btn .fa-angle-right {
  position: absolute;
  margin-left: 10px;
  top: 8px;
  font-size: 2.4rem;
}

.btn:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

.btn-primary {
  background-color: #126e69 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px rgba(0,0,0,.4);
  border-color: #126e69;
}

.btn-primary:hover {
  background-color: #064f4c !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #064f4c;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  border-color: transparent;
}

.btn-login {
  padding: 5px 10px;
  background: #febe10;
  color: rgba(0,0,0,.8);
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.btn-yellow {
  font-weight: 600;
  color: rgba(0,0,0,.8) !important;
  background: #febe10 !important;
}

.btn-yellow:hover {
  background: #fff !important;
}

ul.fa-ul + .btn {
  margin-top: 30px;
}

/*# Master Page #*/

/*# Master Page/A Header #*/

header {
  /*background: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,0));*/
  background: #003935;
}

/*# Master Page/A Header/Eyebrow Nav #*/

.nav-pills-divided {
  margin-right: -15px;
  margin-top: 32px; /* 15 + 7 */
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-pills-divided > li > a {
  margin-left: 5px;
  padding: 5px 10px 5px 0;
  color: #fff;
  border-radius: 2px;
  transition: all .5s ease-in-out;
  font-weight: 600;
}

.nav-pills-divided > li > a:hover {
  color: #febe10;
  background: transparent;
  text-decoration: underline;
}

.nav-pills-divided > li.login > a {
  padding: 5px 10px;
  background: #febe10;
  color: rgba(0,0,0,.8);
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.nav-pills-divided > li.login > a:hover {
  text-decoration: none;
  background-color: #fff;
}

/*# Master Page/A Header/Phone #*/

.mobile-phone {
  padding: 15px;
  text-align: center;
  background: #febe10;
}

.mobile-phone h3 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 400;
  color: rgba(0,0,0,.5);
}

.mobile-phone h3 a {
  margin-left: 10px;
  font-weight: 700;
  color: rgba(0,0,0,.5);
  transition: all .5s ease-in-out;
}

.mobile-phone h3 a:hover {
  color: #fff;
  text-decoration: none;
}

/*# Master Page/A Header/Phone/Desktop #*/

@media(min-width: 768px) {
  .collapse-visible-sm {
    display: block;
  }

  .phone {
    margin-right: -15px;
    margin-top: 84px;
    margin-bottom: 30px;
    clear: both;
    color: #fff;
  }

  .phone h3 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
  }

  .phone h3 a {
    margin-left: 10px;
    font-weight: 700;
    color: #febe10;
    transition: all .5s ease-in-out;
  }

  .phone h3 a:hover {
    color: #fff;
    text-decoration: none;
  }
}

/*# Master Page/A Header/Navbar #*/

.navbar-fsource {
  margin-bottom: 0;
  z-index: 150;
}

.navbar-fsource .navbar-header {
  width: 100%;
  /*color: #fff;*/
}

.navbar-fsource .navbar-brand {
  height: auto;
}

@media(min-width: 768px) and (max-width: 991px) {
  .navbar-fsource .navbar-brand {
    margin-top: 12px;
  }
}

.navbar-fsource .navbar-brand img {
  max-height: 90px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .navbar-fsource .navbar-brand img {
    max-width: 255px;
    max-height: 100%;
  }

  .navbar-fsource .col-sm-7 {
    padding-right: 0;
  }
}

.navbar-fsource .navbar-header {
  float: none;
}

.navbar-toggle {
  float: none;
  margin: 0;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}

/*# Master Page/A Header/Navbar/Mega Menu #*/

.yamm .dropdown.yamm-fw .dropdown-menu h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.yamm .dropdown.yamm-fw .dropdown-menu hr {
  margin: 0;
  margin-bottom: 10px;
  border-width: 2px;
  border-color: rgba(6,78,79,.2);
}

.yamm .dropdown.yamm-fw .dropdown-menu hr.thin {
  border-width: 1px;
}

.yamm .dropdown.yamm-fw .dropdown-menu hr.thin.visible-xs {
  margin-top: 15px;
}

.yamm .dropdown.yamm-fw .dropdown-menu ul li {
  /*margin-bottom: 7px;*/
}

.yamm .dropdown.yamm-fw .dropdown-menu hr + h5 {
  margin-top: 15px;
}

.yamm .dropdown.yamm-fw .dropdown-menu h5 {
  margin-bottom: -5px;
  font-size: 1.6rem;
}

.yamm .dropdown.yamm-fw .dropdown-menu h5 img {
  width: 32px;
  margin-right: 5px;
}

.yamm .dropdown.yamm-fw .dropdown-menu h5 img,
.yamm .dropdown.yamm-fw .dropdown-menu h5 a {
  vertical-align: middle;
}

.yamm .dropdown.yamm-fw .dropdown-menu h5 + ul {
  margin-bottom: 15px;
  margin-left: 15px;
  list-style-type: disc;
}

@media(min-width: 768px) and (max-width: 991px) {
  .yamm .dropdown.yamm-fw .dropdown-menu h5 {
    margin-bottom: 5px;
    font-size: 1.4rem;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu h5 img {
    width: 16px;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu h5 + ul {
    margin-left: 0;
  }
}

.yamm .dropdown.yamm-fw .dropdown-menu h5 + ul li {
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .yamm-content .navbar-form {
    display: inline-block;
    padding: 0;
  }
}

.yamm-content .navbar-form .form-group {
  min-width: 350px;
}

.yamm-content .navbar-form .fa-search {
  color: #104f4c;
}

.yamm-content .navbar-form input.search {
  color: #104f4c;
  background: #c3cdcc;
  min-width: 350px;
}

.yamm-content .navbar-form input.search:focus {
  border-color: #c3cdcc;
  background-color: #fff;
}

/*# Dropdown Images #*/

@media(max-width: 991px) {
  .navbar-fsource .navbar-collapse .yamm .dropdown.yamm-fw .dropdown-menu {
    background: #fff !important;
  }
}

@media(min-width: 992px) {
  .dropdown-menu {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  /*
  .dropdown-borrow {
  background: #fff url("/8base/media/images/navigation/nav-borrow.jpg") bottom right no-repeat;
}

  .dropdown-save {
  background: #fff url("/8base/media/images/navigation/nav-save.jpg") bottom right no-repeat;
}

  .dropdown-invest {
  background: #fff url("/8base/media/images/navigation/nav-invest.jpg") top right no-repeat;
}

  .dropdown-protect {
  background: #fff url("/8base/media/images/navigation/nav-protect.jpg") top right no-repeat;
}

  .dropdown-manage {
  background: #fff url("/8base/media/images/navigation/nav-manage.jpg") bottom right no-repeat;
}

  .dropdown-learn {
  background: #fff url("/8base/media/images/navigation/nav-learn.jpg") top right no-repeat;
}
  */
}

/*# Master Page/A Header/Navigation/Search #*/

.navbar-form .form-control {
  border: 1px solid transparent;
  color: #333;
  background: rgba(255,255,255,.5);
  border-radius: 17px;
  box-shadow: none;
  transition: all .5s ease-in-out;
}

.navbar-form .form-control:focus,
.navbar-form .form-control.filled:focus {
  background-color: #fff;
}

.navbar-form .form-control.filled {
  background-color: rgba(255,255,255,.8);
}

.navbar-form .form-control::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

.navbar-form {
  position: relative;
}

.navbar-form .fa-search {
  position: absolute;
  right: 28px;
  top: 20px;
  color: rgba(0,0,0,.5);
}

.navbar-form .fa-search.active {
  color: rgb(6,79,76);
}

/*# Master Page/A Header/Navigation/Search/Desktop #*/

@media(min-width: 768px) {
  .navbar-form .fa-search {
    top: 10px;
  }
}

/*# Master Page/A Header/Navigation/Mobile Only #*/

@media(max-width: 767px) {

  .navbar-form {
    margin: 0;
    padding: 16px 12px;
  }

  .navbar-fsource {
    border: 0;
  }

  .navbar-fsource .navbar-collapse {
    border-top: 0;
  }

  .navbar-fsource .navbar-nav {
    margin: 0 -15px;
    font-size: 1.6rem;
  }

  .navbar-fsource .container {
    margin: 0;
  }

  .navbar-fsource .navbar-header {
    margin: 0;
    padding-bottom: 15px;
  }

  .navbar-brand {
    float: none;
  }

  .navbar-brand img {
    margin: 0 auto;
  }

  .navbar-fsource .navbar-collapse {
    background: #cbd5d4;
  }

  .navbar-fsource .navbar-nav > li > a {
    padding: 20px;
    border-bottom: 1px solid rgba(6,79,76,.2);
  }

  .navbar-fsource .navbar-nav > li.active > a  {
    color: rgba(255,255,255,.5);
    background: rgb(6,79,76);
  }

  .navbar-fsource .navbar-nav > li.open > a,
  .navbar-fsource .navbar-nav > li.open > a:hover,
  .navbar-fsource .navbar-nav > li.open.active > a,
  .navbar-fsource .navbar-nav > li.open.active > a:hover {
    color: #fff;
    background: #064f4c;
  }

  .navbar-fsource .navbar-nav > li > a .fa-caret-down {
    position: absolute;
    right: 15px;
    top: 23px;
    color: rgba(6,79,76,.5);
    transition: .2s all ease-in-out;
  }

  .navbar-fsource .navbar-nav > li.open > a .fa-caret-down,
  .navbar-fsource .navbar-nav > li.active.open .fa-caret-down {
    color: #fff;
  }

  .navbar-fsource .navbar-nav > li.active .fa-caret-down {
    color: rgba(255,255,255,.5);
  }

  .yamm .yamm-content {
    /*padding: 15px 15px 0;*/
    padding: 0 !important;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu {
    background: #fff;
    border-radius: 0;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu .row {
    margin-bottom: 30px;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu .yamm-content .row + .row {
    margin-top: -30px;
  }
}

/*# Master Page/A Header/Navigation/Desktop #*/

@media(min-width: 768px) {
  .navbar-fsource .navbar-collapse {
    padding: 0 5px 0 0;
    background: #fff linear-gradient(180deg, #fff 1%, #cbd5d4 1%, #6d8887);
    position: relative;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
  }

  .navbar-fsource .navbar-collapse .navbar-nav {
    font-size: 1.8rem;
  }

  .navbar-fsource .navbar-nav > li > a {
    padding: 15px 10px 10px; /* tablet vert */
    font-size: 1.7rem;
    font-weight: 600;
    color: #064f4c;
    border-bottom: 5px solid transparent;
    transition: all .2s ease-in-out;
  }

  .navbar-fsource .navbar-nav > li > a:hover {
    background: rgba(255,255,255,.5);
    padding-bottom: 10px;
    border-bottom-color: #064f4c;
  }

  .navbar-fsource .navbar-nav > li.open > a,
  .navbar-fsource .navbar-nav > li.open > a:hover,
  .navbar-fsource .navbar-nav > li.open.active > a,
  .navbar-fsource .navbar-nav > li.open.active > a:hover {
    color: #fff;
    background: #064f4c;
    border-bottom-color: transparent;
  }

  /*
  .navbar-fsource .navbar-nav > li.active > a  {
  color: rgba(255,255,255,.5);
  background: #064f4c linear-gradient(180deg, rgb(6,79,76) 1%,rgba(6,79,76,.5));
  border-bottom-color: #3f6f63;
}

  .navbar-fsource .navbar-nav > li.active > a:hover  {
  border-bottom-color: #064f4c;
}

  .navbar-fsource .navbar-nav > li.active .fa-caret-down {
  color: rgba(255,255,255,.5);
}

  .navbar-fsource .navbar-nav > li.active.open .fa-caret-down {
  color: rgba(6,79,76,.5);
}
  */

  .navbar-fsource .navbar-nav > li > a .fa-caret-down {
    position: relative;
    margin-left: 2px;
    top: -2px;
    font-size: 1.4rem;
    color: rgba(6,79,76,.5);
    transition: .2s all ease-in-out;
  }

  .navbar-fsource .navbar-nav > li > a:hover .fa-caret-down,
  .navbar-fsource .navbar-nav > li.open > a .fa-caret-down,
  .navbar-fsource .navbar-nav > li.open > a:hover .fa-caret-down {
    top: 2px;
  }

  .navbar-fsource .navbar-nav > li.open > a .fa-caret-down,
  .navbar-fsource .navbar-nav > li.active.open .fa-caret-down {
    color: #fff;
  }

  /*# Master Page/A Header/Navigation/Desktop/Mega Menu #*/
  .yamm .dropdown.yamm-fw .dropdown-menu {
    border: 0;
    border-top: 5px solid #064f4c;
    border-radius: 0;
    min-height: 300px;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu .row +  .row {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media(min-width: 992px) {
  .navbar-fsource .navbar-nav > li > a  {
    padding: 15px 10px 10px;
  }

  .form-control.search {
    max-width: 180px;
  }
}

@media(min-width: 1200px) {
  .navbar-fsource .navbar-nav > li > a {
    padding: 15px 15px 10px;
  }
}

/*# Master Page/A Header/Member Online Login #*/

.navbar-fsource .navbar-nav > li.open.mologin > a.dropdown-toggle {
  background: #febe10;
  color: rgba(0,0,0,.8);
}

.navbar-fsource .navbar-nav > li.open.mologin > a .fa-caret-down,
.navbar-fsource .navbar-nav > li.active.open.mologin .fa-caret-down {
  color: rgba(0,0,0,.8) !important;
}

.mologin .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 2px;
  border-top: 5px solid #febe10;
}

.mologin .dropdown-menu .yamm-content {
  padding: 15px 15px 0;
}

.mologin .dropdown-menu .yamm-content .form-group {
  margin-right: 7px;
}

.mologin .form-group .help-block {
  padding-top: 2px;
  font-size: 1.2rem;
}

.mologin .dropdown-menu .yamm-content .form-group:last-child {
  margin-right: 0;
}

.yamm-content .btn-login {
  font-weight: 700;
  padding-right: 25px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

.yamm-content .btn-login .fa-angle-right {
  top: 3px;
}

.mologin .form-control {
  width: 166px;
  border-radius: 2px;
  border-color: rgba(6,79,75,.2);
  box-shadow: inset 0 1px 1px rgba(6,79,75,.1);
}

.mologin .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(6,79,75,.1), 0 0 4px rgba(6,79,75,.2);
}

/*# Master Page/B Footer #*/

footer {
  width: 100%;
  color: rgba(6,79,76,.5);
  padding-top: 10px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, rgba(255,255,255,.8), rgba(255,255,255,.5));
}

footer h3 {
  margin-bottom: 10px;
  color: #064f4c;
  font-weight: 600;
  font-size: 1.8rem;
}

footer h3 + hr {
  margin: 0;
  margin-bottom: 10px;
}

footer ul {
  margin-bottom: 0;
}

footer ul li {
  margin-bottom: 7px;
}

footer ul .fa {
  opacity: .5;
}

footer hr {
  margin-bottom: 10px;
  border-width: 2px;
  border-color: rgba(6,79,76,.3);
  opacity: .6;
}

@media(max-width: 767px) {
  .clear-left-xs {
    clear: left;
  }

  .clear-right-xs {
    clear: right;
  }

  .copyright,
  .copyright .text-right {
    text-align: center;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .clear-left-sm {
    clear: left;
  }

  .clear-right-sm {
    clear: right;
  }
}

.social-icon {
  float: left;
  width: 23%;
  margin-right: 2%;
  border-radius: 3px;
}

.ncua-ehl {
  margin-top: 64px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(6,79,76,.6);
}

.ico-ncua {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
  padding: 0 5px;
  border: 2px solid rgba(6,79,76,.5);
}

.ico-ehl {
  display: inline-block;
  height: 16px;
  width: 21.6px;
  background: url("/8base/media/images/equal-housing-lender.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  left: 15px;
  opacity: .6;
}

.ico-ehl-vert {
  display: inline-block;
  margin-right: 15px;
  float: left;
  height: 46px;
  width: 46px;
  background: url("/8base/media/images/equal_housing_lender.svg") center no-repeat;
  background-size: cover;
}

.copyright {
  color: #064f4c;
}

/*# Master Page/B Footer/Desktop #*/

@media(min-width: 768px) {
  .social-icon {
    /* width: 39px; IE FIX */
    margin-right: 3px;
  }

  .social-icon.last {
    margin-right: 0;
  }

  .ncua-ehl {
    padding-left: 0;
  }

  .ico-ncua {
    margin-left: 0;
  }

  .ico-ehl {
    left: 28px;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .ico-ehl {
    left: 80px;
  }

  .ncua-ehl {
    margin-top: 70px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .ico-ehl {
    display: none;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .social-icon {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}

/*# Pages #*/

/*# Pages/Locations #*/

.ul-locations li {
  margin-bottom: 2em;
}

.table-white {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

/*# Pages/Table #*/

.table-white {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

.table-white > thead > tr > th {
  border-color: rgba(6,79,76,.2);
}

.table-white > tbody > tr > td {
  border-color: rgba(6,79,76,.2);
}

.main-bg {
  padding-bottom: 15px;
  background: linear-gradient(180deg, #033935, rgba(255,255,255,.8) 40%);
}

.main h2 {
  font-size: 3.6rem;
}

.main h3 {
  font-size: 3.0rem;
}

.main h4 {
  font-size: 2.4rem;
}

.main hr {
  border-top-color: rgba(6,78,79,.1);
}

@media(max-width: 767px) {
  .main h3,
  .main .middle .ad-block h3 {
    font-size: 2.0rem !important;
    line-height: 1.25em;
  }

  .main .middle h3 {
    font-size: 3.0rem !important;
  }

  .ad-block p {
    font-size: 1.2rem !important;
  }

  .ad-block {
    margin-bottom: 30px;
    max-height: 170px;
    overflow: hidden;
  }

  .main .light .middle.container {
    padding-bottom: 15px;
  }
}

.main p {
  font-size: 1.6rem;
}

.main p.lead {
  font-size: 2.4rem;
  color: rgba(0,0,0,.6);
}

.main ul,
.main ol {
  /*  color: rgba(0,0,0,.6); */
  line-height: 1.75em;
  font-size: 1.5rem;
}

.main ul.fa-ul .fa-li {
  top: 6px;
  color: rgba(6,79,76,.8);
}

.main ul a {
  font-weight: 600;
}

.main .container.first {
  background: #fff;
  padding-bottom: 15px;
  z-index: 200;
}

.main .container.aftertop {
  background: #fff;
  padding-bottom: 15px;
}

@media(min-width: 768px) {
  .main .container.first {
    padding: 45px 45px 30px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: linear-gradient(180deg, #fff, rgba(255,255,255,.6) 75%);
  }

  .main .container.aftertop {
    padding: 0 45px 45px;
    background: rgba(255,255,255,.6);
  }

  .main > div:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.main .middle.container {
  background: linear-gradient(180deg, rgba(255,255,255,.5), #fff);
  padding: 30px;
}

.main .dark .container,
.well-dark {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #064f4c;
}

.main .dark .container {
  box-shadow: inset 0 0 50px rgba(0,0,0,.2);
}

@media(min-width: 768px) {
  .main .dark .container {
    padding: 30px;
  }
}

.main .row h3 {
  margin-top: 0;
}

.well-dark {
  border: 0;
  margin-top: 25px;
  padding: 15px 15px 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
}

@media(min-width: 992px) {
  .well-dark {
    width: 270px;
  }
}

@media(min-width: 1199px) {
  .well-dark {
    padding: 30px;
    width: 340px;
  }
}

.well-dark h3 {
  font-size: 2.6rem;
}

.well-dark p + p {
  margin-top: 30px;
}

.main .dark,
.well-dark {
  color: #fff;
}

.main .dark .gray {
  color: rgba(255,255,255,.6);
}

.dark.bottom {
  background: #064f4c;
}

.dark.bottom .container {
  background: linear-gradient(#064f4c,#073534);
  padding: 30px !important;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.dark p a {
  color: rgba(255,255,255,.8);
}

.dark p a:hover {
  color: #fff;
}

.container.last {
  padding: 30px 15px;
  background: rgba(255,255,255,.5);
}

.container.last h3 {
  margin-top: 0;
}

.main .container.last hr {
  margin: 0;
  margin-bottom: 15px;
  border-color: rgba(6,78,78,.2);
}

@media(min-width: 768px) {
  .container.last {
    padding: 60px 45px;
    background: linear-gradient(180deg, rgba(255,255,255,.5), #fff);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .container.last h2 {
    margin-top: -15px;
  }
}

/*# Pages/Blog #*/
.blog-post {
  margin: 30px 0 60px;
}

.blog-post img {
  border-radius: 2px;
  margin-bottom: 15px;
  max-width: 100%;
}

.size-full {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog-leave-comment {
  margin-top: 15px;
  margin-bottom: 15px;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.alignleft {
  float: left;
}

/*# Pages/First Source Icons #*/

.fs-icon {
  position: absolute;
  margin-left: -35px;
  margin-top: -2px;
  height: 32px;
  width: 32px;
  background: url("~/App_Themes/Sitestyle/img/ico-sprites.png") no-repeat top left;
  background-size: 125px 62.5px;
}

.fs-icon-rate {
  background-position: -96px -32px;
}

.fs-icon-apply {
  background-position: -32px -32px;
}

.fs-icon-find {
  background-position: 0 -32px;
}

.fs-icon-member {
  background-position: -63px -32px;
}

/*# Pages/Desktop #*/

@media(min-width: 768px) {
  .main {
    margin: -25px auto 0;
    width: 750px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
  }

  .Gecko .carousel-indiciators,
  .Edge .carousel-indicators {
    bottom: 25px;
  }

  .Gecko .main .carousel-inner,
  .Edge .main .carousel-inner {
    top: -25px;
    margin-bottom: -25px;
  }

}

@media(min-width: 992px) {
  .main {
    width: 970px;
  }
}

@media(min-width: 1200px) {
  .main {
    width: 1170px;
  }
}

/*# Pages/Home Page #*/

/*# Pages/Home Page/Carousel/Mobile Only #*/

@media(max-width: 767px) {
  .carousel {
    margin-left: -15px;
    margin-right: -15px;
  }

  .carousel-inner {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .carousel .item {
    min-height: 160px;
    background-position: center;
    background-size: cover;
  }

  .carousel-inner > .item > a > img {
    display: none;
  }

  .carousel-inner > .item > a > img.mobile-target {
    display: block;
    min-height: 160px;
  }
}

/*# Pages/Home Page/Carousel/Tablet Vert #*/

@media(min-width: 768px) {
  .carousel {
    margin-right: -15px;
    margin-left: -15px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .carousel-inner {
    background: linear-gradient(90deg, #62491e 1%, #febe10, #62491e 99%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    min-height: 360px;
  }

  .carousel-indicators {
    bottom: 5px;
  }

  .carousel-indicators li,
  .carousel-indicators li.active {
    margin: 0 2px;
    height: 12px;
    width: 12px;
    border-color: rgba(98,73,30,.6);
    border-color: rgba(255,255,255,.6);
  }

  .carousel-indicators li.active {
    background-color: rgba(98,73,30,.6);
    background-color: rgba(255,255,255,.6);
    border-color: transparent;
  }

  .carousel-inner > .item > a > img.mobile-target {
    display: none;
  }
}

/*# Pages/Home Page/Carousel/Tablet Vert #*/

@media(min-width: 768px) and (max-width: 991px) {
  .carousel-caption h1 {
    font-size: 6.4rem;
  }

  .carousel-caption h2 {
    font-size: 2.2rem;
  }

  .carousel-caption .cta {
    font-size: 1.8rem;
  }

  .carousel-inner {
    min-height: 230px;
  }

  .carousel-caption {
    min-height: 170px;
  }

  .green-bg {
    top: -160%;
    height: 400px;
    left: -200%;
  }
}

/*# Pages/Home Page/Carousel/Tablet Horiz #*/

@media(min-width: 992px) and (max-width: 1199px) {
  .carousel-caption h1 {
    font-size: 8.4rem;
  }

  .carousel-caption h2 {
    font-size: 2.8rem;
  }

  .carousel-caption .cta {
    font-size: 1.8rem;
  }

  .carousel-inner {
    min-height: 260px;
  }

  .carousel-caption {
    min-height: 200px;
  }

  .green-bg {
    top: -115%;
    height: 400px;
    left: -135%;
  }
}

/*# Pages/Home Page/Ad Blocks #*/

.ad-block {
  height: 198px;
  padding: 15px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}

.ad-block h3 {
  margin-top: 0;
  font-size: 2.4rem;
}

.ad-block p {
  font-size: 1.4rem;
}

.ad-block p:last-child {
  margin-bottom: 0;
}

.ad-block.stock {
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ad-block.photo {
  color: #fff;
  background-blend-mode: multiply;
  border: 0;
  background-repeat: no-repeat;
}

@media(max-width: 767px) {
  .ad-block.photo {
    background-size: 100% 100% !important;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .ad-block.stock,
  .ad-block.photo {
    background-size: auto 200px !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
  }
}

@media(min-width: 992px) {
  .ad-block.photo {
    background-size: 100% 100% !important;
  }
}

.ad-block.photo a {
  color: #febe10;
  font-weight: 700;
}

.ad-block.jelly .col-xs-8 {
  padding-left: 10px;
}

.ad-block.jelly .col-xs-4 {
  padding-right: 0;
}

@media(min-width: 768px) and (max-width: 991px) {
  .ad-block {
    margin-bottom: 15px;
    height: auto;
    min-height: 200px;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .ad-block {
    height: 153px;
  }

  .ad-block h3 {
    font-size: 1.6rem;
  }

  .ad-block p {
    font-size: 1.0rem;
  }
}

/*# Pages/Home Page/Bottom #*/

.dark dl {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75em;
  color: rgba(255,255,255,.8);
}

.dark dl dt {
  color: rgba(255,255,255,1.0);
}

.dark dl dd {
  margin-bottom: 22.5px;
  line-height: 24.5px;
}

.dark dl dd:last-child {
  margin-bottom: 0;
}

.dark .well {
  padding: 10px 0;
  margin: 20px 30px 15px;
  color: rgba(7,68,69,.8);
  background: rgba(255,255,255,.8);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.dark .well p {
  margin-bottom: 0;
  font-weight: 600;
}

.dark .well h2 {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 400;
}

.dark h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 2.4rem;
  line-height: 32px;
}

.dark.bottom h3 {
  padding-left: 35px;
}

.dark hr {
  margin: 15px 0;
  border-color: rgba(255,255,255,.1);
}

.dark a[href^=tel] {
  color: #fff;
}

.main .dark hr + h3 {
  margin-top: 20px;
}

.main .dark hr.hidden-sm + h3 {
  margin-top: 0;
}

p.all-rates {
  margin: 0 0 7px;
}

.atm-search {
  margin-top: 20px;
}

.dark .input-group .form-control {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.input-group .btn {
  padding: 6px 12px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .bottom .col-md-4 {
    margin-bottom: 30px;
  }

  .bottom hr {
    margin: 30px 0;
  }
}

/*# FORMS #*/

/* custom radios */

label input[type="radio"] ~ span.fa.fa-circle-o{
  color: rgba(255,255,255,.8);
  display: inline;
}
label input[type="radio"] ~ span.fa.fa-check-circle-o{
  display: none;
}
label input[type="radio"]:checked ~ span.fa.fa-circle-o{
  display: none;
}
label input[type="radio"]:checked ~ span.fa.fa-check-circle-o{
  color: #febe10;    display: inline;
}
label:hover input[type="radio"] ~ span.fa {
  color: #febe10;
}

label input[type="checkbox"] ~ span.fa.fa-square-o{
  color: rgba(255,255,255,.8);    display: inline;
}
label input[type="checkbox"] ~ span.fa.fa-check-square-o{
  display: none;
}
label input[type="checkbox"]:checked ~ span.fa.fa-square-o{
  display: none;
}
label input[type="checkbox"]:checked ~ span.fa.fa-check-square-o{
  color: #febe10;
  display: inline;
}
label:hover input[type="checkbox"] ~ span.fa {
  color: #febe10;
}

div[data-toggle="buttons"] label.active{
  color: #febe10;
}

div[data-toggle="buttons"] label {
  margin-top: 5px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid rgba(255,255,255,.8);
  border-radius: 3px;
  color: rgba(255,255,255,.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:hover {
  color: #febe10;
}

div[data-toggle="buttons"] label.btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .member-text{
  font-size: 1.4rem;
  line-height: 1.75em;
  margin-top: 12px;
  margin-bottom: 30px;
  color: rgba(255,255,255,.8);
}

/*# FORMS/KENTICO FIXES #*/

.form-group .input-width-15 {
  display: inline-block;
  margin: 0 5px;
  max-width: 60px;
}

.form-group .input-width-20 {
  display: inline-block;
  margin: 0 5px;
  max-width: 100px;
}

/*# Pages/Page Pieces/Quotes #*/

.quote {
  background-repeat: no-repeat;
  background-position: bottom right;
}

.quote.no-photo {
  height: auto;
  padding: 45px;
}

.quote.no-photo .col-sm-8 {
  width: 100%;
}

.quote.no-photo h2 {
  margin-top: 0;
}

.quote blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

.quote.quote-video {
  padding: 0;
}

.quote.quote-video h2 {
  margin: 30px 15px 30px 30px;
  font-size: 3.4rem;
}

@media(max-width: 991px) {
  .quote.quote-video {
    margin-left: 0;
    margin-right: 0;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .quote.quote-video h2 {
    font-size: 3.2rem;
    line-height: 1em;
  }
}

@media(max-width: 767px) {
  .quote {
    margin: 0 15px;
    background-size: cover !important;
    background-position: top center !important;
  }

  .quote blockquote {
    margin: 0 -15px;
    padding: 30px 30px 45px;
    border: 15px solid #f0f0f0;
  }

  .quote blockquote.text-right {
    text-align: left;
  }

  .quote blockquote .quote-left,
  .quote blockquote .quote-right {
    font-size: 3.0rem;
    top: 0;
  }

  .quote blockquote h2 {
    font-size: 2.6rem;
  }


}

@media(min-width: 768px) {
  .quote {
    border: 15px solid #fff;
  }

  .quote blockquote {
    padding: 15px 30px 30px;
  }

  .quote h2 {
    font-size: 3.0rem;
  }
}

@media(min-width: 992px) {
  .quote {
    padding: 0 45px 15px;
  }

  .quote blockquote {
    background-color: transparent !important;
  }
}

@media(min-width: 1200px) {
  .quote {
    padding: 15px 45px 30px;
  }

  .quote h2 {
    font-size: 3.6rem;
  }
}

.quote blockquote h2 {
  margin-bottom: 1em;
  line-height: 1.25em;
}

.quote blockquote a {
  font-weight: 600;
}

.quote blockquote .quote-left,
.quote blockquote .quote-right {
  top: 17px;
  vertical-align: baseline;
  position: relative;
  font-weight: bold;
  font-family: Georgia, times, serif;
  font-size: 6.0rem;
}

.quote blockquote .quote-left {
  top: 8px;
  padding-right: 6px;
}

.quote blockquote .quote-right {
  padding-left: 6px;
  line-height: 1px;
}

/*# Pages/Comparison #*/

.comparison {
  margin-bottom: 30px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.comparison h4 {
  color: #033935;
  background: #b0c0be;
  margin: -5px -10px 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  transition: .2s all ease-in-out;
}

.comparison:hover h4 {
  color: #fff;
  background: rgba(6,79,76,.8);
}

.comparison:hover {
  margin: -1px 1px 31px -1px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.comparison.featured h4 {
  color: rgba(0,0,0,.5);
  background: rgba(254,190,16,1);
}

.comparison:hover a {
  text-decoration: underline;
}

.comparison ul {
  color: rgba(0,0,0,.6);
  font-size: 1.4rem;
}

.comparison ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.comparison:hover ul {
  color: rgba(0,0,0,.9);
}

.comparison a {
  font-weight: 600;
}

.comparison p {
  font-size: 1.4rem;
}

@media(min-width: 992px) and (max-width: 1199px) {
  .comparison p {
    font-size: 1.2rem;
  }

  .comparison h4 {
    font-size: 1.8rem;
  }

  .comparison ul {
    font-size: 1.1rem;
  }
}

/*# AFFIX #*/

@media(max-width: 1819px) {
  .affix {
    position: static;
  }
}

@media(min-width: 1820px) {
  /*# afix thing #*/

  .well-dark.affix {
    margin-left: 365px;
    top: 0;
    z-index: 1000;
    width: 340px;
  }
}

/*# Pages/Calculator #*/

.panel-calculator {
  color: #333;
  border: 0;
  background: rgba(255,255,255,.8);
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.panel-calculator .panel-heading {
  padding: 30px 0 15px;
  border-bottom: 0;
  text-align: center;
  background: transparent;
}

.panel-calculator .panel-title {
  font-weight: 600;
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 0;
}

.panel-calculator .panel-body {
  padding: 15px 30px 30px;
}

@media(max-width: 767px) {
  .panel-calculator .panel-body {

  }

  .panel-calculator .col-xs-6 {
    padding: 0;
  }

  .panel-calculator .col-xs-6:first-child {
    padding-right: 8px;
  }

  .panel-calculator .col-xs-6:last-child {
    padding-left: 7px;
  }

  .panel-calculator .panel-heading {
    padding: 15px 0 0;
  }

  .panel-calculator h3.panel-title {
    margin: 0;
  }
}

.panel-calculator input[disabled] {
  box-shadow: none;
  background: rgba(6,79,76,.2);
  border-color: rgba(6,79,76,.2);
  color: #fff;
}

.panel-calculator label,
.modal-body label {
  font-weight: 400;
}

.panel-calculator .form-control,
.modal-body .form-control {
  border-radius: 2px;
  border-color: #88aaa7;
}

.mologin .form-control {
  width: 150px;
  border-radius: 2px;
  border-color: rgba(6,79,75,.2);
  box-shadow: inset 0 1px 1px rgba(6,79,75,.1);
}

.mologin .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(6,79,75,.1), 0 0 4px rgba(6,79,75,.2);
}

.input-group-addon {
  border-radius: 2px;
  color: #033935;
  background: #b0c0be;
  border-color: #88aaa7;
}

.panel-calculator hr {
  margin: 15px 0 30px;
  border-color: rgba(6,79,76,.2);
}

.panel-calculator .btn-default {
  border-color: transparent;
}

.panel-calculator .table > thead > tr > th,
.panel-calculator .table > tbody > tr > td {
  border: 0;
}

.panel-calculator .table .btn-primary {
  padding: 5px 10px;
}

/*# Pages/Disclosures #*/

h5 {
  font-weight: 600;
}

p.disclosure {
  line-height: 1em;
}

p.disclosure small {
  /*color: rgba(0,0,0,.5);*/
  color: #333333;
  font-size: 1.2rem;
}

.img-rounded {
  margin-top: 25px;
  border-radius: 4px;
}

/*# Tablet #*/

/*# Navbar #*/

/*# Modal #*/

.modal-content {
  border-radius: 2px;
  background: #064f4c;
}

.modal-header {
  color: #fff;
  border: 0;
  text-align: center;
}

.modal-header h4.modal-title {
  font-size: 1.8rem;
}

.modal-header .close {
  color: rgba(255,255,255,.5);
  opacity: 1;
  text-shadow: none;
  font-size: 3.0rem;
}

.modal-header .close:hover {
  cursor: pointer;
  color: #fff;
}

.modal-body {
  background: rgba(255,255,255,.9);
}

.modal-footer {
  border: 0;
  text-align: center;
  background: #064f4c;
}

/*# Pages/Rates Page #*/

.rates-page h2,
.rates-page h3 {
  margin: 0;
  margin-top: 15px;
}

.rates-page h2 {
  font-size: 2.4rem;
}

.rates-page h3 {
  font-size: 1.8rem;
}

.rates-page h2 a,
.rates-page h3 a {
  display: block;
  padding: 15px;
  color: #fff;
  border-radius: 4px;
}

.rates-page h2 a:hover,
.rates-page h3 a:hover,
.panel-default > .panel-heading a:hover {
  text-decoration: none;
}

.rates-page h2 a {
  background: rgba(18,110,105,1.0);
}

.panel-default > .panel-heading {
  padding: 15px;
  background: rgba(18,110,105,.75);
  border: 0;
}

.panel-default > .panel-heading a {
  color: #fff;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}

.panel-default > .panel-collapse {
  border: 4px solid rgba(18, 110, 105, .75);
  border-top: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rates-page h3 a {
  background: rgba(18,110,105,.75);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rates-page h3 a.collapsed {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rates-page h3 + div.collapse,
.rates-page h3 + div.collapsing {
  padding: 15px 30px;
  border: 4px solid rgba(18,110,105,.75);
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rates-page h2.extra a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.rates-page h2.extra a.collapsed {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rates-page #collapseBL {
  padding: 15px 30px;
  border: 4px solid rgba(18, 110, 105, 1.0);
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}

@media(min-width: 768px) {
  .rates-page .table {
    margin-bottom: 0;
  }
}

.rates-page hr.spacer {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

#rate-mortgage th small,
.rates th small,
.rates-page th small {
  font-size: 1.4rem;
  font-weight: normal;
}

/*# Rates #*/

.rates {
  margin-top: 45px;
  margin-bottom: 45px;
}

hr.spacer {
  margin: 30px 0 !important;
}

.rates h4, .rates p, .rates h1 {
  margin: 0;
  font-weight: 300;
}

.rates h4 + .table {
  margin-top: 10px;
  margin-bottom: 0;
}

.rates h4 + p.note {
  margin-top: 0;
  margin-bottom: 15px;
}

.rates p {
  margin-top: 15px;
  color: rgba(0,0,0,.5);
}

.rates h1 {
  margin-bottom: 0;
}

.rates h1 sup {
  font-size: 50%;
}

.rates > div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rates > div:nth-child(odd) {
  background: #fff;
  border-radius: 2px;
}

.col-sm-24,
.col-md-24,
.col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.disclosures .table-bordered {
  background: #fff;
}

.disclosures .table thead tr td,
.disclosures .table thead tr th {
  border-color: rgba(6,78,79,.2);
}

.disclosures .table > tbody > tr > td,
.disclosures .table > tbody > tr >  th {
  border-color: rgba(6,78,79,.1);
}

.disclosures .table-striped>tbody>tr:nth-of-type(odd),
.table tr.header {
  background-color: rgba(6,78,79,.1);
  background-color: #b0c0be;
}

.disclosures p.disclosure small {
  color: #2e2e2e;
}

dl.rates dd {
  margin-bottom: 1em;
}

dl.rates dd table {
  margin-top: 5px;
}

@media(max-width: 767px) {
  .features div {
    margin-bottom: 30px;
  }
}

.col-sm-24 .btn,
.col-md-24 .btn,
.col-lg-24 .btn {
  margin-bottom: 15px;
}

@media(min-width: 768px) {
  .col-sm-24 {
    float: left;
    width: 20%;
  }
}

@media(min-width: 992px) {
  .col-md-24 {
    float: left;
    width: 20%;
  }
}

@media(min-width: 1200px) {
  .col-lg-24 {
    float: left;
    width: 20%;
  }
}

/*# Z2 - Kentico Hacks/B - Forms #*/

.form-control.WatermarkText {
  color: #999;
}

.FormButton {
  display: inline-block;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 0;
}

/* error validation style from bootstrap, modified for Kentico */

.Error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.Error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.EditingFormErrorLabel {
  /* .help-block */
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  /* .has-error */
  color: #a94442;
  /* fix kentico */
}

.ErrorLabel {
  /* .alert */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  /* .alert-danger */
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  /* fix Kentico */
  display: block;
}

.radio-list-horizontal label {
  margin-right: 15px;
}

/*# Z - Highlight Hash #*/

.hash-group .highlight {
  margin: -31px;
  padding: 30px;
  background: #fff;
  border: 1px solid #c2d4d4;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  transition: .2s all ease-in-out;
  z-index: 1000;
}

/*# Z - IE Hacks #*/

.IE11 #carousel-home {
  top: -25px;
  margin-bottom: -25px;
}

iframe[name="google_conversion_frame"] {
  display: none;
}

.Gecko .carousel-indicators {
  bottom: 20px;
}

/*# Z - NCUA/EHL Hoers #*/

#ncua:hover,
#ehl:hover {
  text-decoration: none;
  cursor: pointer;
}

.popover {
  padding: 0;
  max-width: 302px;
  border-radius: 2px;
}

.popover-content {
  padding: 0;
}

/*# Landing Pages #*/

.header-image {
  margin-left: -15px;
  margin-right: -15px;
  max-width: calc(100% + 30px); /* From Zac */
}

@media(min-width: 768px) {
  .header-image {
    margin: -45px -45px 0;
    min-width: 750px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

@media(min-width: 992px) {
  .header-image {
    min-width: 970px;
  }
}

@media(min-width: 1200px) {
  .header-image {
    min-width: 1170px;
  }
}

/*# Z - Print Rates #*/

.print-page {
  background: #fff;
}

.print-page .btn-hide-in-print,
.print-page .hide-in-print {
  display: none;
}

.print-only {
  display: none;
}

.print-page .print-only {
  display: inline;
}

.print-page h3.print-only {
  display: block;
  margin-top: 3em;
}

.print-page .rates-page h2 a {
  padding: 0;
  color: #333;
  margin-bottom: 0;
  background: transparent;
}

/* Agree Button */

.EditingFormControlNestedControl {
  padding-left: 20px;
  display: inline;
  font-size: 1.6rem;
}

.EditingFormControlNestedControl .CheckBoxField,
.EditingFormControlNestedControl span.checkbox {
  display: inline !important;
}

.EditingFormControlNestedControl input[type="checkbox"] {
  margin-left: -20px;
}

/* Form Steps */

.step {
  display: none;
}

.step.active {
  display: block;
}

a[aria-expanded="false"] .fa-angle-up {
  display: none;
}

a[aria-expanded="true"] .fa-angle-up {
  display: inline-block;
}

a[aria-expanded="true"] .fa-angle-down {
  display: none;
}

.move-to-head {
  display: none;
  background: #fff;
  color: #333;
}

.EditMode .move-to-head {
  display: block;
}

/* iPhone Classic Logo Fix */

@media(max-width: 320px) {
  .navbar-fsource .navbar-brand img {
    max-height: 75px;
  }

  .mobile-phone h3 {
    font-size: 1.6rem;
  }
}

/*# Pagination #*/
.pagination>li>a, .pagination>li>span {
  color: #126e69;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #064f4c;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #126e69;
  border-color: #126e69;
}


/*# Romanelli #*/

footer {
  color: #064f4c;
}

.ico-ehl-vert {
  width: 44px !important;
  height: 44px !important;
  margin-left: 3px !important;
  margin-right: 7px !important;
  background-size: contain !important;
}

.email-signup {
  background-color: #febe10;
  padding: 1rem 1rem;
  margin: 0 0 1rem 0;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .email-signup {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    align-items: center;
    -ms-flex-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2rem 30px;
    margin: 0 -1.5rem 2rem -1.5rem;
  }
}

.email-signup-header img {
  display: none;
}

@media (min-width: 768px) {
  .email-signup-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    align-items: center;
    -ms-flex-align: center;
  }

  .email-signup-header img {
    display: block;
    margin-right: 1rem;
  }
}

.email-signup h3 {
  font-size: 1.8rem;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 1rem 0;
  padding: 0;
  color: black;
  text-align: center;
}

@media (min-width: 768px) {
  .email-signup h3 {
    margin: 0;
    font-size: 2.4rem;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .email-signup>.email-signup-header,
  .email-signup>.email-signup-form {
    width: calc(50% - 15px);
  }
}

.email-signup-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -ms-flex-align: center;
}

.email-signup-form .form-group {
  width: calc(75% - 1rem);
  margin: 0;
}

.email-signup-form input[type=email] {
  width: 100%;
  height: 4.25rem;
}

.email-signup-form input[type=submit] {
  width: 25%;
}

.email-signup-disclosure {
  color: #000;
  margin-top: 1em;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .email-signup-disclosure {
    width: 100%;
    /*max-width: 58em;*/
  }
}

.social-icons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-icons>a {
  display: block;
  width: calc(33.3333% - 4px);
  margin: 0 4px 4px 0;
}

.social-icons>a>img.social-icon {
  margin: 0;
  width: 100%;
  float: none;
}


/*
Breakpoints:
xs: > 768px (mobile collapse)
sm: >= 768px and < 992px
md: >= 992px and < 1200px
lg: >= 1200px
*/

.yamm .dropdown.yamm-fw .dropdown-menu {
  background-size: contain;
}

/*
.yamm .dropdown.yamm-fw .dropdown-menu .form-control.search {
  font-style: italic;
}

.yamm .dropdown.yamm-fw .dropdown-menu h4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  align-items: center;
  -ms-flex-align: center;
}

.yamm .dropdown.yamm-fw .dropdown-menu .nav-icon {
  display: inline-block;
  width: 2.8rem;
  height: 2.6rem;
  margin: -1rem 0.75rem -1rem 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
}

.yamm .dropdown.yamm-fw .dropdown-menu .nav-icon>img {
  /*
  // Win8/IE11 ignores the width of this element's parent
  // because it's set to display: flex, so we have to
  // hardcode the max dimensions instead. Oh well.
  max-width: 100%;
  max-height: 100%;
  */
  max-width: 2.8rem;
  max-height: 2.6rem;
}

.yamm .dropdown.yamm-fw .dropdown-menu ul {
  /*margin-left: 0;*/
  padding-left: 2.25rem;
  list-style-type: disc;
}
*/

@media (max-width: 767px) {
  .navbar-form {
    margin-top: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .yamm .dropdown:not(.mologin):first-of-type>a {
    padding-left: 15px;
  }

  .navbar-fsource .navbar-nav>li>a {
    padding: 15px 7.5px 10px;
    font-size: 1.25rem;
  }

  .navbar-fsource .navbar-nav>li>a .caret {
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .yamm .dropdown:not(.mologin):first-of-type>a {
    padding-left: 16px;
  }

  .navbar-fsource .navbar-nav>li>a {
    padding: 15px 8px 10px;
    font-size: 1.4rem;
  }

  .navbar-fsource .navbar-nav>li>a .caret {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .yamm .dropdown-menu {
    padding: 0;
  }

  .dropdown .dropdown-menu {
    min-height: 0 !important;
  }

  .dropdown .dropdown-menu .yamm-content {
    padding: 0;
  }

  .dropdown.main-online-mobile .dropdown-menu {
    min-height: 34rem !important;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu .row+.row {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu h4>a {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu ul>li {
    margin: 0;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu ul>li>a {
    display: block;
    margin: 0;
    padding: 0.25rem 0;
  }

  .yamm .dropdown.yamm-fw .dropdown-menu hr {
    margin-bottom: 5px;
  }

  .form-control.search {
    max-width: 120px;
  }
}

@media (min-width: 1200px) {
  .yamm .dropdown:not(.mologin):first-of-type>a {
    padding-left: 20px;
  }

  .navbar-fsource .navbar-nav>li>a {
    padding: 15px 12.5px 10px;
    font-size: 1.5rem;
  }
}


/* IE10 gives Wufoo iframes zero height if they're
inside a modal popup, so this hack forces a height. */
.modal .wufoo-form-container {
  min-height: 900px !important;
}

.flex-buttons > a {
  display: block;
  padding-left: 30px;
  padding-right: 45px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .flex-buttons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .flex-buttons > a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 45px;
  }
  .flex-buttons > a:not(:first-child) {
    margin-left: 5px;
  }
  .flex-buttons > a:not(:last-child) {
    margin-right: 5px;
  }
}

@media (min-width: 1200px) {
  .flex-buttons > a {
    font-size: 16px;
  }
}

.gallery {
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  overflow: auto;
}

.gallery__item {
  padding: 0 6px;
  border: none;
  float: left;
  width: 33.333%;
}

.gallery__item img {
  width: 100%;
  height: auto;
  margin: 0;
}

.gallery__item .desc {
  margin: 0.75em 0 0 0;
  text-align: left;
  font-size: small;
}


/* Online & Mobile help docs */

.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .grid-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.grid-col {
  margin: 1rem 0;
  width: 100%;
  flex-basis: 100%;
}

@media only screen and (min-width: 576px) {
  .grid-col {
  }
}

@media only screen and (min-width: 768px) {
  .grid-col {
    width: calc(50% - 1rem);
    flex-basis: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 992px) {
  .grid-col {
    width: calc(33.3333% - 2rem);
    flex-basis: calc(33.3333% - 2rem);
  }
}

.help-topic {
  padding: 2rem;
  background-color: #f0f5f5;
  text-align: center;
  min-height: 10em;
}

@media only screen and (min-width: 768px) {
  .help-topic {
    background-color: #fff;
  }
}

.help-icon {
  width: 6rem;
  height: auto;
}

.help-title {
  font-size: 2rem !important;
  line-height: 1.25;
  color: #0b5853;
}

.help-block-link {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .instructions {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1.5rem 2rem -1.5rem;
  }

  .instructions-step {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .instructions-step h5 {
    font-size: 1.6rem;
  }

  .instructions-step-image {
    margin: 1rem 0;
    -ms-flex-negative: 0; /* Bug fix for IE expanding columns too high */
  }

  .instructions-step-image img {
    box-shadow: 0.0625rem 0.0625rem 1.5rem rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
  }
}

/*
First Source noticed that the "Estimated Monthly Payment" calculation in these mortgage rates tables is inaccurate.
These tables seem to be dynamically generated from some external source that we're unable to find. So as a stopgap
measure until a ticket can be filed with iNet, we simply disabled the rule below.
– Romanelli

#rate-mortgage-holder #rate-mortgage {
  display: block !important;
}
*/
#rate-mortgage {
  display: none !important; /* This line hides the mystery rates block on the Rates page */
}


/*# Romanelli/Utility Classes #*/

/* Barebones set of utility classes generated with https://bitbucket.org/romanellicomm/fsource-utility-css-generator/ */
.fixed{position:fixed}.absolute{position:absolute}.inset-0{top:0;right:0;bottom:0;left:0}.z-10{z-index:10}.m-4{margin:1rem}.-m-4{margin:-1rem}.-my-2{margin-top:-.5rem;margin-bottom:-.5rem}.my-6{margin-top:1.5rem;margin-bottom:1.5rem}.mx-auto{margin-left:auto;margin-right:auto}.my-2{margin-top:.5rem;margin-bottom:.5rem}.my-4{margin-top:1rem;margin-bottom:1rem}.mr-4{margin-right:1rem}.mt-1{margin-top:.25rem}.mb-3{margin-bottom:.75rem}.mb-4{margin-bottom:1rem}.mt-0{margin-top:0}.mb-8{margin-bottom:2rem}.mb-12{margin-bottom:3rem}.mb-6{margin-bottom:1.5rem}.ml-4{margin-left:1rem}.block{display:block}.inline-block{display:inline-block}.flex{display:flex}.inline-flex{display:inline-flex}.hidden{display:none}.h-full{height:100%}.h-vh{height:100vh}.h-12{height:3rem}.h-36{height:9rem}.w-full{width:100%}.w-1\/3{width:33.333333%}.w-10{width:2.5rem}.w-1\/4{width:25%}.w-1\/2{width:50%}.w-3\/4{width:75%}.w-2\/4{width:50%}.w-4\/5{width:80%}.w-2\/3{width:66.666667%}.w-12{width:3rem}.w-1\/5{width:20%}.flex-1{flex:1 1 0%}.cursor-pointer{cursor:pointer}.flex-col{flex-direction:column}.flex-wrap{flex-wrap:wrap}.items-end{align-items:flex-end}.items-center{align-items:center}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.divide-y>:not([hidden])~:not([hidden]){--tw-divide-y-reverse:0;border-top-width:calc(1px*(1 - var(--tw-divide-y-reverse)));border-bottom-width:calc(1px*var(--tw-divide-y-reverse))}.divide-x>:not([hidden])~:not([hidden]){--tw-divide-x-reverse:0;border-right-width:calc(1px*var(--tw-divide-x-reverse));border-left-width:calc(1px*(1 - var(--tw-divide-x-reverse)))}.divide-solid>:not([hidden])~:not([hidden]){border-style:solid}.divide-green-light>:not([hidden])~:not([hidden]){border-color:#cddfdf}.overflow-y-scroll{overflow-y:scroll}.border-0{border-width:0}.border-y{border-top-width:1px;border-bottom-width:1px}.border-x-0{border-left-width:0;border-right-width:0}.border-solid{border-style:solid}.border-none{border-style:none}.border-green-light{border-color:#cddfdf}.bg-white{background-color:#fff}.bg-gold-lighter{background-color:#ffecb9}.bg-green-lighter{background-color:#ebf2f2}.bg-green-dark{background-color:#064f4c}.bg-transparent{background-color:initial}.p-8{padding:2rem}.p-12{padding:3rem}.p-6{padding:1.5rem}.p-2{padding:.5rem}.p-4{padding:1rem}.px-12{padding-left:3rem;padding-right:3rem}.py-4{padding-top:1rem;padding-bottom:1rem}.py-12{padding-top:3rem;padding-bottom:3rem}.px-4{padding-left:1rem;padding-right:1rem}.pt-10{padding-top:2.5rem}.pb-12{padding-bottom:3rem}.text-base{font-size:1.6rem}.text-lg{font-size:1.8rem}.text-2xl{font-size:2.4rem}.text-xl{font-size:2rem}.font-bold{font-weight:600}.font-normal{font-weight:400}.leading-tight{line-height:1.25}.leading-snug{line-height:1.375}.text-green{color:#126e6c}.text-white{color:#fff}.hover\:bg-green:hover{background-color:#126e6c}@media (min-width:640px){.sm\:w-1\/3{width:33.333333%}.sm\:w-1\/4{width:25%}.sm\:w-1\/5{width:20%}}

@media (min-width: 768px) {
  .pull-left-sm  { float: left  !important; }
  .pull-right-sm { float: right !important; }
  .pull-none-sm  { float: none  !important; }
}
@media (min-width: 992px) {
  .pull-left-md  { float: left  !important; }
  .pull-right-md { float: right !important; }
  .pull-none-md  { float: none  !important; }
}
@media (min-width: 1200px) {
  .pull-left-lg  { float: left  !important; }
  .pull-right-lg { float: right !important; }
  .pull-none-lg  { float: none  !important; }
}
.pull-none {
  float: none !important;
}

/*# Banzai Calculators #*/

.banzai-wrapper {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #d8e0e0;
  border-radius: 1rem;
  width: 100%;
  height: 822px;
}

@media only screen and (min-width: 360px) {
  .banzai-wrapper {
    height: 822px;
  }
}

@media only screen and (min-width: 400px) {
  .banzai-wrapper {
    height: 822px;
  }
}

@media only screen and (min-width: 576px) {
  .banzai-wrapper {
    height: 822px;
  }
}

@media only screen and (min-width: 768px) {
  .banzai-wrapper {
    height: 822px;
  }
}

@media only screen and (min-width: 992px) {
  .banzai-wrapper {
    height: 822px;
  }
}

@media only screen and (min-width: 1200px) {
  .banzai-wrapper {
    height: 822px;
  }
}

/*# Inet WCAG #*/

.TagCloud a {
  text-decoration: underline;
}

.post-archive .badge {
  background-color: #126e69;
}

/* Testing Zac permissions */

.dark.bottom legend {
  color: #fff;
}

/* Chat Button */

.btn-chat {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 10000;
  text-align: center;
  font-weight: 600;
}

.btn-chat .fa {
  display: block;
}

/* Contact Chat Button */

.chat-prompt {
  margin-bottom: 20px;
  text-align: center;
}

.chat-prompt .btn {
  margin-top: 15px;
}

@media(min-width: 768px) {
  .chat-prompt {
    margin-top: 20px;
    text-align: right;
  }

  .chat-prompt .btn {
    margin-top: 15px;
  }
}

@media(max-width: 767px) {
  #chatModal .embed-responsive-4by3 {
    height: 88vh;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  #chatModal .embed-responsive-4by3 {
    height: 89vh;
  }
}

/*# Progress Bar - Search #*/

.progress-bar-success {
  background-color: #126e69;
}

/*# Breadcrumb #*/

@media(max-width: 767px) {
  .breadcrumb {
    margin: 15px;
  }
}

@media(min-width: 768px) {
  .breadcrumb {
    background-color: #fff;
  }
}

.breadcrumb>.active {
  color: #333;
}


/*# Editor Fixes #*/

body.cke_editable {
  background-image: none;
}

/*# eyebrow #*/
/* nav styles from master template editable area */

#eyebrow-login-button {
  color:white;
  background-color: transparent;
  border:3px solid #febe10;
  border-radius: 6px;
}

#eyebrow-login-button:focus {
  outline: 5px auto;
  outline-offset: 0;
}

#eyebrow-login-button:hover {
  color: #febe10;
}
#eyebrow-appointment-button {
  text-decoration: none;
  color: black;
  padding:5px 10px;
  font-size:13px;
}
#eyebrow-appointment-button:hover {
  background-color: white;
}

.form-control.search {
  margin-right: 5px;
}

.form-control.search:focus {
  outline: 2px solid #000;
}


/*# 2023-2-1 Red #*/
/*
header {
  background: #DF0000;
}

.main-bg {
  background: linear-gradient(180deg,#DF0000,rgba(223,0,0,.8) 40%);
}

.main .middle.container {
  background-color: #f0f0f0;
}

footer {
  color: #fff;
  background: linear-gradient(180deg,rgba(223,0,0,.8),rgba(223,0,0,.5));
}

footer h3 {
  color: #fff;
}

footer hr {
  border-color: rgba(255,255,255,.3);
}

footer a {
  color: rgba(255,255,255.8) !important;
}

footer a:hover {
  color: #fff !important;
}

.copyright {
  color: #fff;
}

#ehl {
  background: #fff;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  padding-left: 4px;
}*/

/*# Blog2023 #*/

/*# Blog2023/Cards #*/

.card {
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

@media(min-width: 768px) {
  .card .img-crop {
  max-height: 95px;
  overflow: hidden;
  }
}

@media(min-width: 992px) {
  .card .img-crop {
  max-height: 135px;
  overflow: hidden;
  }
}

@media(min-width: 1200px) {
  .card .img-crop {
  max-height: 165px;
  overflow: hidden;
  }
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-subtitle {
  margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
  color: var(--bs-card-subtitle-color);
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: var(--bs-card-spacer-x);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}

.card-header-tabs {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: var(--bs-card-bg);
  border-bottom-color: var(--bs-card-bg);
}

.card-header-pills {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

/*# Blog2023/Shadow #*/

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

/*# Blog2023/Heights #*/

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

/*# Blog2023/Row #*/

.row-flex {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 6rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  /* bs3 hack */
  clear: both;
}

.row-flex > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

@media(min-width: 768px) {
  .col {
    flex: 1 0 0%;
  }
  
  .row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

/*# Blog2023/Label #*/

.card-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  background-color: #fdbe15;
  color: #006b65;
  border-bottom-right-radius: 1rem;
}

.card-label-featured,
.card-label-trending {
  background-color: #006b65;
  color: #fdbe15;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-3.border-bottom {
  padding-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-5.border-bottom {
  padding-bottom: 5rem;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.nav-pills-centered {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.nav-pills-centered > li {
  float: none;
  display: inline-block;
  margin-bottom: -1px;
}

.nav-pills-centered > li a,
.nav-pills-centered > li a:hover,
.nav-pills-centered > li.active a,
.nav-pills-centered > li.active a:hover {
  color: #126e69;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.nav-pills-centered > li a:hover,
.nav-pills-centered > li.active a,
.nav-pills-centered > li.active a:hover {
  background-color: transparent;
  color: #126369;
  border-bottom-color: #126e69;
}

.nav-pills-centered > li.active > a:focus {
  color: #fff;
  background-color: #126e69;
}

/*.nav-pills-centered > li.active a,
.nav-pills-centered > li.active a:hover {
  background-color: transparent;
  color: #126369;
  border-bottom-color: #126e69;
}*/

.h-special:after {
  content: "";
  height: 3px;
  width: 100px;
  background-color: #fdbe15;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

/*# Blog2023/Headers #*/

.container-blog-head img {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

@media(min-width: 768px) {
  .container-blog-head img {
  margin-top: -25px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }
}

.container-blog-head + .light > .container.first {
  border-top-right-radius: 0;
  border-to-left-radius: 0;
}

.container > .row-flex {width:100%; margin-left:0; margin-right:0;}

/*# Branches #*/
.branch-section-header {
  border-top: 1px solid #CCCCCC;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  width: calc(100% - 30px);
}

.branch-section-header-label {
  background-color: #febe10;
  width: auto;
  display: inline-block;
  padding: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  color: #064f4c;
  margin-bottom: 30px;
  font-size: 14px;
}
.branch-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.branches-atm-finder {
  margin: 0;
  margin-top: -30px;
}