<section
  {{ mobileMenu.attrs(menu='loans/home/home-equity') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans/home', menuName='Home Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Home Equity Options Overview",
      link="/home-equity",
      icon="Loans_Home_HomeEquity_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Home Equity Loan",
      link="/home-equity/loan",
      icon="Loans_Home_HomeEquity_Loan.svg"
    ) }}

    {{ mobileNav.item(
      text="Home Equity Line of Credit",
      link="/home-equity/line-of-credit",
      icon="Loans_Home_HomeEquity_LineOfCredit.svg"
    ) }}

  </div>
</section>
