<section
  {{ mobileMenu.attrs(menu='loans/home/mortgage') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='loans/home', menuName='Home Loans') }}

    {{ mobileNav.item(
      overview=true,
      text="Mortgage Overview",
      link="/mortgage-loans",
      icon="Loans_Home_Mortgage_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Conventional Loan",
      link="/mortgage-loans/conventional",
      icon="Loans_Home_Mortgage_Conventional.svg"
    ) }}

    {{ mobileNav.item(
      text="FHA Loan",
      link="/mortgage-loans/government-FHA",
      icon="Loans_Home_Mortgage_FHALoan.svg"
    ) }}

    {{ mobileNav.item(
      text="VA Loan",
      link="/mortgage-loans/government-va",
      icon="Loans_Home_Mortgage_VALoan.svg"
    ) }}

    {{ mobileNav.item(
      text="Home Possible Programs",
      link="/mortgage-loans/first-time-home-buyer",
      icon="Loans_Home_Mortgage_HomePossiblePrograms.svg"
    ) }}

    {{ mobileNav.item(
      text="100% Mortgage Financing Program",
      link="/mortgage-loans/100-percent-mortgage-financing",
      icon="Loans_Home_Mortgage_100FinancingProgram.svg"
    ) }}

    {{ mobileNav.item(
      text="Medical Professional Mortgage Program",
      link="/mortgage-loans/medical-professional-mortgage-program",
      icon="Loans_Home_Mortgage_MedicalProfessionalProgram.svg"
    ) }}

    {{ mobileNav.item(
      text="Mortgage Refinancing",
      link="/mortgage-loans/mortgage-refinance",
      icon="Loans_Home_Mortgage_Refinancing.svg"
    ) }}

  </div>
</section>
