<section
  {{ mobileMenu.attrs(menu='business/accounts') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='business', menuName='Business') }}

    {{ mobileNav.item(
      text="Business Checking",
      link="/business-checking",
      icon="Business_Accounts_Checking.svg"
    ) }}

    {{ mobileNav.item(
      text="Business Savings",
      link="/business-savings",
      icon="Business_Accounts_Savings.svg"
    ) }}

  </div>
</section>
