<section
  {{ mobileMenu.attrs(menu='business/loans') }}
  class="">

  <div class="divide-y divide-solid divide-green-light">

    {{ mobileNav.back(menu='business', menuName='Business') }}

    {{ mobileNav.item(
      overview=true,
      text="Business Loans Overview",
      link="/business-loans",
      icon="Business_Loans_Overview.svg"
    ) }}

    {{ mobileNav.item(
      text="Real Estate",
      link="/business-loans/real-estate",
      icon="Business_Loans_RealEstate.svg"
    ) }}

    {{ mobileNav.item(
      text="Vehicle",
      link="/business-loans/vehicle",
      icon="Business_Loans_Vehicle.svg"
    ) }}

    {{ mobileNav.item(
      text="Equipment",
      link="/business-loans/equipment",
      icon="Business_Loans_Equipment.svg"
    ) }}

    {{ mobileNav.item(
      text="Line of Credit",
      link="/business-loans/line-of-credit",
      icon="Business_Loans_LineOfCredit.svg"
    ) }}

    {{ mobileNav.item(
      text="Signature Loan",
      link="/business-loans/signature",
      icon="Business_Loans_Signature.svg"
    ) }}

    {{ mobileNav.item(
      text="Express Loan",
      link="/business-loans/express-loan",
      icon="Business_Loans_Express.svg"
    ) }}

    {{ mobileNav.item(
      text="Credit Cards",
      link="/business-loans/credit-card",
      icon="Business_Loans_CreditCards.svg"
    ) }}

  </div>
</section>
